{% load i18n static %}
{% csrf_token %}

{% block head %}
  {% include "parents/head.html" %}
{% endblock %}

<title>سامانه نظام پیشنهادها | ویرایش ایستگاه کاری</title>
</head>

<body>

  <div class="loading-fixed d-hide">
    <img src="{% static "images/loading.svg" %}" alt="در حال بارگذاری...">
  </div>

  {% block header %}
    {% include "parents/header.html" %}
  {% endblock %}

  <div class="container-fluid">
    <div class="row">

      {% block sidebar %}
        {% include "parents/sidebar.html" %}
      {% endblock %}

      <div class="col-9">
        <div class="row text-right">
          <div class="col-12">
            <div class="blur">
              <h2 class="title_page">ویرایش ایستگاه کاری</h2>
              <div class="row">
                <div class="col-12">
                  <div class="alert-section">
                    <div class="alert-message error-message front text-right mb-3">
                      <div class="alert-message-content error-content">
                        <i class="fas fa-exclamation-circle"></i>
                        <div class="alert-message-text error-text">
                        </div>
                      </div>
                      <div class="close-message close-error-message">
                        <i class="fas fa-times"></i>
                      </div>
                    </div>
                    <div class="alert-message success-message front text-right mb-3">
                      <div class="alert-message-content success-content">
                        <i class="fas fa-check"></i>
                        <div class="alert-message-text success-text">
                          ایستگاه کاری با موفقیت ویرایش گردید.
                        </div>
                      </div>
                      <div class="close-message close-success-message">
                        <i class="fas fa-times"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputWorkstationTitle">عنوان ایستگاه<code>*</code></label>
                    <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left"
                      title="عنوان ایستگاه نباید خالی باشد و حداکثر تا 255 کاراکتر طول داشته باشد."></i>
                    <input type="text" class="form-control" id="inputWorkstationTitle" value="{{ThisWorkStation.title}}" maxlength="255">
                  </div>
                    <div class="form-group col-md-4">
                      <label for="inputWorkstationType">نوع ایستگاه<code>*</code></label>
                      <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left"
                        title="تعیین نوع ایستگاه الزامی میباشد"></i>
                      <select id="inputWorkstationType" class="form-control select2-component">
                        <option value="0">انتخاب...</option>
                        <option value="production" {% if ThisWorkStation.type == 'production' %} selected {% endif %}>تولید</option>
                        <option value="installation" {% if ThisWorkStation.type == 'installation' %} selected {% endif %}>تاسیسات</option>
                        <option value="official" {% if ThisWorkStation.type == 'official' %} selected {% endif %}>اداری</option>
                        <option value="general" {% if ThisWorkStation.type == 'general' %} selected {% endif %}>عمومی</option>
                      </select>
                    </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="form-group col-md-4">
                      <label for="inputOwner">مالکیت اصلی ایستگاه<code>*</code></label>
                      <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="تعیین مالکیت اصلی ایستگاه الزامی میباشد."></i>
                      <select id="inputOwner" class="form-control select2-ajax">
                        <option value="{{ThisWorkStation.ownership.id}}" selected>{{ThisWorkStation.ownership.title}}</option>
                      </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputResponsible">مسئولیت اصلی ایستگاه<code>*</code></label>
                    <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="تعیین مسئولیت اصلی ایستگاه الزامی میباشد."></i>
                    <select id="inputResponsible" class="form-control select2-ajax">
                      <option value="{{ThisWorkStation.responsibility.id}}" selected>{{ThisWorkStation.responsibility.title}}</option>
                    </select>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputDescription">توضیحات</label>
                    <textarea class="form-control" id="inputDescription" rows="3">{{ThisWorkStation.description}}</textarea>
                  </div>
                </div>

                <div class="row-list my-3">
                  {% for item in Sections %}
                    <div class="main-item">
                      <div class="form-row align-items-end mb-3">
                          <div class="form-group col-md-4">
                              <label val="section" for="inputSection-{{forloop.counter}}">عنوان قسمت <span class="count">{{forloop.counter}}</span></label><code>*</code>
                              <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در سطر اضافه شده حتما بایستی یک قسمت کاری نوشته شود. حداکثر طول مجاز عنوان قسمت 255 کاراکتر میباشد."></i>
                              <input value="{{item.title}}" val="section" type="text" class="form-control" id="inputSection-{{forloop.counter}}" maxlength="255">
                          </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                            <label val="owner" for="inputOwner-{{forloop.counter}}">مالکیت اصلی قسمت<code>*</code></label>
                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="تعیین مالکیت اصلی قسمت الزامی میباشد."></i>
                            <select val="owner" id="inputOwner-{{forloop.counter}}" class="form-control select2-ajax">
                              <option value="{{item.ownership.id}}" selected>{{item.ownership.title}}</option>
                            </select>
                        </div>
                      <div class="form-group col-md-4">
                          <label val="responsible" for="inputResponsible-{{forloop.counter}}">مسئولیت اصلی قسمت<code>*</code></label>
                          <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="تعیین مسئولیت اصلی قسمت الزامی میباشد."></i>
                          <select val="responsible" id="inputResponsible-{{forloop.counter}}" class="form-control select2-ajax">
                            <option value="{{item.responsibility.id}}" selected>{{item.responsibility.title}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label val="description" for="inputDescription-{{forloop.counter}}">توضیحات</label>
                          <textarea value="description" val="description" name="description" id="inputDescription-{{forloop.counter}}" class="form-control" rows="3">{{item.description}}</textarea>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button id="addSection" class="btn btn-secondary">سطر جدید <i class="far fa-plus"></i></button>
                    </div>
                </div>
                
                <br>
                <button id="submit" type="submit" class="btn btn-primary">ویرایش</button>
                <br>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% block footer %}
    {% include "parents/footer.html" %}
  {% endblock %}

  <script src="{% static "js/base-information/workstation.js" %}" type="text/javascript"></script>

  <script>
    $(".select2-ajax").select2({
        dir: "rtl",
        ajax: {
            method: 'POST',
            url: "{% url 'master_data:ajax_search_in_companies' %}",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                search: params.term, // search term
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                
                return {
                results: data.data,
                pagination: {
                    more: (params.page * 30) < data.total_count
                }
                };
            },
            cache: true
        },
        placeholder: 'جستجو...',
        minimumInputLength: 1,
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
    });

    function formatRepo (repo) {
        if (repo.loading) {
        return repo.text;
        }

        var $container = $(
        "<div class='select2-result-repository clearfix'>" +
            "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__title'></div>" +
            "</div>" +
        "</div>"
        );

        $container.find(".select2-result-repository__title").text(repo.title + ' (' + repo.national_code + ')');

        return $container;
    }

    function formatRepoSelection (repo) {
        if (repo.id && repo.title && repo.national_code)
        {
        return repo.title + ' (' + repo.national_code + ')';
        }
        return repo.text;
    }

    $("#addSection").click(function (e) {
        e.preventDefault();
        var count = $(".main-item").length + 1;
        $(".row-list").append('' +
        '<div class="main-item">' +
          '<br>' +
          '<br>' +
              '<div class="form-row align-items-end mb-3">' +
                  '<div class="form-group col-md-4">' +
                      '<label val="section" for="inputSection-' + count + '">عنوان قسمت <span class="count">' + count + '</span></label><code>*</code>' +
                      '<i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در سطر اضافه شده حتما بایستی یک قسمت کاری نوشته شود. حداکثر طول مجاز عنوان قسمت 255 کاراکتر میباشد."></i>' +
                      '<input val="section" type="text" class="form-control" id="inputSection-' + count + '" maxlength="255">' +
                  '</div>' +
              '</div>' +
              '<div class="form-row">' +
                '<div class="form-group col-md-4">' +
                    '<label val="owner" for="inputOwner-' + count + '">مالکیت اصلی قسمت<code>*</code></label>' +
                    '<i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="تعیین مالکیت اصلی قسمت الزامی میباشد."></i>' +
                    '<select val="owner" id="inputOwner-' + count + '" class="form-control select2-ajax">' +
                    '</select>' +
                '</div>' +
              '<div class="form-group col-md-4">' +
                  '<label val="responsible" for="inputResponsible-' + count + '">مسئولیت اصلی قسمت<code>*</code></label>' +
                  '<i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="تعیین مسئولیت اصلی قسمت الزامی میباشد."></i>' +
                  '<select val="responsible" id="inputResponsible-' + count + '" class="form-control select2-ajax">' +
                  '</select>' +
                '</div>' +
              '</div>' +
              '<div class="form-row">' +
                '<div class="form-group col-md-12">' +
                  '<label val="description" for="inputDescription-' + count + '">توضیحات</label>' +
                  '<textarea val="description" name="description" id="inputDescription-' + count + '" class="form-control" rows="3"></textarea>' +
                '</div>' +
              '</div>' +
              '<div class="form-row">' +
                '<div class="form-group col-md-3 mb-5">' +
                  '<button class="btn btn-danger removeItem">حذف</button>' +
                '</div>' +
              '</div>' +
            '</div>');
        $('[data-toggle="tooltip"]').tooltip();
        $('#inputResponsible-' + count).select2({
            dir: "rtl",
            ajax: {
                method: 'POST',
                url: "{% url 'master_data:ajax_search_in_companies' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                    search: params.term, // search term
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    
                    return {
                    results: data.data,
                    pagination: {
                        more: (params.page * 30) < data.total_count
                    }
                    };
                },
                cache: true
            },
            placeholder: 'جستجو...',
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });

        $('#inputOwner-' + count).select2({
            dir: "rtl",
            ajax: {
                method: 'POST',
                url: "{% url 'master_data:ajax_search_in_companies' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                    search: params.term, // search term
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    
                    return {
                    results: data.data,
                    pagination: {
                        more: (params.page * 30) < data.total_count
                    }
                    };
                },
                cache: true
            },
            placeholder: 'جستجو...',
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });
    })

    $(document).on('click', '.removeItem', function () {
            var count = $(".row-list > .main-item").length - 1;
            for (item of $(this).parent().parent().parent().nextAll('.main-item'))
            {
                var count = parseInt($(item).find('.count').text());

                var dataText1 = $(item).find('select[val="owner"]').next('span.select2').find('.select2-selection__rendered').text();
                var dataText2 = $(item).find('select[val="responsible"]').next('span.select2').find('.select2-selection__rendered').text();

                $(item).find('.select2-ajax').select2('destroy');
                
                $(item).find('.count').text(' ' + (count - 1).toString());
                $(item).find("label[val='section']").prop('for', 'inputSection-' + (count - 1).toString());
                $(item).find("input[val='section']").prop('id', 'inputSection-' + (count - 1).toString());
                $(item).find("label[val='owner']").prop('for', 'inputOwner-' + (count - 1).toString());
                $(item).find("select[val='owner']").prop('id', 'inputOwner-' + (count - 1).toString());
                $(item).find("label[val='responsible']").prop('for', 'inputResponsible-' + (count - 1).toString());
                $(item).find("select[val='responsible']").prop('id', 'inputResponsible-' + (count - 1).toString());
                $(item).find("label[val='description']").prop('for', 'inputDescription-' + (count - 1).toString());
                $(item).find("textarea[val='description']").prop('id', 'inputDescription-' + (count - 1).toString());

                $(item).find('.select2-ajax').select2({
                    dir: "rtl",
                    ajax: {
                        method: 'POST',
                        url: "{% url 'master_data:ajax_search_in_companies' %}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                            search: params.term, // search term
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            };
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;
                            
                            return {
                            results: data.data,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                            };
                        },
                        cache: true
                    },
                    placeholder: 'جستجو...',
                    minimumInputLength: 1,
                    templateResult: formatRepo,
                    templateSelection: formatRepoSelection
                });

                if (dataText1 != 'جستجو...')
                {
                    $(item).find('select[val="owner"]').next('span.select2').find('.select2-selection__rendered').text(dataText1);
                }
                else
                {
                    $(item).find('select[val="owner"]').next('span.select2').find('select2-selection__placeholder').text(dataText1);
                }

                if (dataText2 != 'جستجو...')
                {
                    $(item).find('select[val="responsible"]').next('span.select2').find('.select2-selection__rendered').text(dataText2);
                }
                else
                {
                    $(item).find('select[val="responsible"]').next('span.select2').find('select2-selection__placeholder').text(dataText2);
                }
            }
            $(this).parent().parent().parent().remove();
        })
    
    $(document).ready(function () {
        // $(".blur").addClass('active disable-form');
        // $(".loading-fixed").show();
        // // var url = window.location.href;
        // // console.log(url);
        // // var id = url.substr(url.length - 2 ,url.length - 2);
        // var id = '{{id}}';
        // console.log(id);
        // var ajaxURL = '{.% url "main:workstation_edit" 0 %}';
        // ajaxURL = ajaxURL.substr(0, ajaxURL.length - 2) + id + '/';
        // console.log(ajaxURL);
        // var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
        // $.ajax (
        //     {
        //         method: 'GET',
        //         url: ajaxURL,
        //         headers: {
        //             'content-type': 'application/json',
        //             'X-CSRFToken': csrftoken
        //         },
        //         success: function (json, status) {
        //             console.log(json);
        //             console.log(status);
        //             if (status == 'success') {
        //                 $(".blur").removeClass('active disable-form');
        //                 $(".loading-fixed").hide();
        //                 $("#inputWorkstationTitle").val(json.title);
        //                 $("#inputWorkstationType").val(json.type);
        //                 $("#inputDescription").val(json.description);
        //             }
        //             else {
        //                 $(".blur").removeClass('active disable-form');
        //                 $(".loading-fixed").hide();
        //                 $("html, body").animate({
        //                 scrollTop: $(".alert-section").offset().top - 20
        //                 }, 1000);
        //                 $(".alert-message-text.error-text").html(json.error + ' ' + '(' + json.status + ')');
        //                 $(".alert-message.error-message").show();
        //             }
        //         },
        //         error: function (json, status, xhr) {
        //             console.log(json);
        //             console.log(status);
        //             console.log(xhr);
        //             $(".blur").removeClass('active disable-form');
        //             $(".loading-fixed").hide();
        //             $("html, body").animate({
        //                 scrollTop: $(".alert-section").offset().top - 20
        //             }, 1000);
        //             $(".alert-message-text.error-text").html(xhr + ' ' + '(' + status + ')');
        //             $(".alert-message.error-message").show();
        //         }
        //     }
        // )
    })

    $("#submit").click(function (e) {
      e.preventDefault();
      var checks = checkWorkstationFnc();
      if (checks) {
        $(".blur").addClass('active disable-form');
        $(".loading-fixed").show();

        var data = {};

        var workstationTitle = $("#inputWorkstationTitle").val();
        // var sectionTitle = $("#inputSectionTitle").val();
        var workstationType = $("#inputWorkstationType").val();
        // var workstationOwner = $("#inputOwner").val();
        // var workstationResponsible = $("#inputWorkstationTitle").val();
        var description = $("#inputDescription").val();

        var url = window.location.href;
        
        var id = url.substr(url.length - 2 ,url.length - 2);
        data.title = workstationTitle;
        // data.section_title = sectionTitle;
        data.type = workstationType;
        // data.ownership = workstationOwner;
        // data.reponsibility = workstationResponsible;
        data.description = description;
        data.is_active = JSON.stringify(true);

        console.log(data);
        var ajaxURL = '{.% url "main:workstation_edit" 0 %}';
        ajaxURL = ajaxURL.substr(0, ajaxURL.length - 2) + id;
        console.log(ajaxURL);
        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

        $.ajax(
          {
            method: 'PUT',
            url: ajaxURL,
            headers: {
                'content-type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            data: JSON.stringify(data),
            success: function (json, status) {
                console.log(json);
                console.log(status);
                if (status == 'success') {
                    $(".blur").removeClass('active');
                    $(".loading-fixed").hide();
                    $("html, body").animate({
                    scrollTop: $(".alert-section").offset().top - 20
                    }, 1000);
                    $(".alert-message.success-message").show();
                    $(".alert-message.error-message").hide();
                    var redirectURL = '{% url "master_data:work_station_list_page" %}';
                    setTimeout(function () {
                        location.replace(redirectURL);
                    }, 1500)
                }
                else {
                    $(".blur").removeClass('active disable-form');
                    $(".loading-fixed").hide();
                    $("html, body").animate({
                    scrollTop: $(".alert-section").offset().top - 20
                    }, 1000);
                    $(".alert-message-text.error-text").html(json.error + ' ' + '(' + json.status + ')');
                    $(".alert-message.error-message").show();
                }
            },
            error: function (json, status, xhr) {
              console.log(json);
              console.log(status);
              console.log(xhr);
              $(".blur").removeClass('active disable-form');
              $(".loading-fixed").hide();
              $("html, body").animate({
                scrollTop: $(".alert-section").offset().top - 20
              }, 1000);
              $(".alert-message-text.error-text").html(xhr + ' ' + '(' + status + ')');
              $(".alert-message.error-message").show();
            }
          }
        )
      }
      else {
        $("html, body").animate({
          scrollTop: $(".alert-section").offset().top - 20
        }, 1000);
      }
    })
  </script>

</body>

</html>