{% load i18n static %}

<div class="col-3">
    <div class="profile">
        <img src="{% static "images/profile-pin.jpg" %}">
        <div class="profile-content">
            <div class="avatar my-2">
                <img src="/{{request.user.profile}}" alt="عکس پروفایل" width="60" height="60">
            </div>
            <div class="information">
                <div class="bio">
                    <span>نام و نام خانوادگی : </span>
                    <span>{{request.user.get_fullname}}</span>
                </div>
                <div class="company">
                    <span> </span>
                    <span></span>
                </div>
                <div class="role">
                    <span> </span>
                    <span></span>
                </div>
            </div>
            <div class="date mt-3"></div>
        </div>
    </div>
    <div class="side-menu text-right">
        <div class="menu-item">
            <div class="menu-item-title d-flex">
                <div class="item-part collapse-part">
                    <i class="far fa-plus"></i>
                </div>
                <div class="item-part item-title">
                    <i class="fas fa-user-chart"></i>
                    منوی کاربری
                </div>
            </div>
            <div class="menu-item-subset">

                <div class="menu-item-subset-single">
                    <a href="{% url 'master_data:personnel_details_page' request.user.username %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                    مشاهده پروفایل
                            </div>
                        </div>
                    </a>
                </div>

                <div class="menu-item-subset-single">
                    <a href="{% url 'master_data:personnel_edit_page' request.user.username %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                    ویرایش پروفایل
                            </div>
                        </div>
                    </a>
                </div>


                <div class="menu-item-subset-single">
                    <a href="{% url 'main:communication_create_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                     ثبت نامه مکاتباتی
                            </div>
                        </div>
                    </a>
                </div>

                <div class="menu-item-subset-single">
                    <a href="{% url 'main:communication_list_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                     لیست مکاتبات من
                            </div>
                        </div>
                    </a>
                </div>
<!-- 
                <div class="menu-item-subset-single">
                    <a href="{.% url 'master_data:deputy_list_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                    مشاهده پروفایل دستگاه اجرایی
                            </div>
                        </div>
                    </a>
                </div>

                <div class="menu-item-subset-single">
                    <a href="{.% url 'master_data:deputy_list_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                    ویرایش پروفایل دستگاه اجرایی
                            </div>
                        </div>
                    </a>
                </div> -->



            </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title d-flex">
                <div class="item-part collapse-part">
                    <i class="far fa-plus"></i>
                </div>
                <div class="item-part item-title">
                    <i class="fas fa-user-chart"></i>
                    پروژه ها
                </div>
            </div>
            <div class="menu-item-subset">
                <div class="menu-item-subset-single">
                    <a href="{% url 'master_data:project_create_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                ثبت پروژه
                            </div>
                        </div>
                    </a>
                </div>

                <div class="menu-item-subset-single">
                    <a href="{% url 'master_data:project_list_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                لیست پروژه ها
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu-item-subset-single">
                    <a href="{% url 'master_data:project_list_all_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                لیست کل پروژه های سازمان
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title d-flex">
                <div class="item-part collapse-part">
                    <i class="far fa-plus"></i>
                </div>
                <div class="item-part item-title">
                    <i class="fas fa-database"></i>
                    اطلاعات پایه
                </div>
            </div>
            <div class="menu-item-subset">
                <div class="menu-item-subset-single">
                    <a href="{% url 'master_data:personnel_list_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                فهرست پرسنلی
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu-item-subset-single">
                    <a href="{% url 'master_data:organization_list_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                     دستگاه اجرایی
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu-item-subset-single">
                    <a href="{% url 'master_data:projectstype_list_page' %}">
                        <div class="d-flex">
                            <div class="sub-item-part indent-part"></div>
                            <div class="sub-item-part item-option">
                                <i class="fas fa-circle"></i>
                                 نوع پروژه ها
                            </div>
                        </div>
                    </a>
                </div>
               
            </div>
        </div>
    </div>
</div>