{% load i18n static %}
{% load filters %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

    <title>سامانه نظام پیشنهادها | لیست شرکت ها</title>
</head>
<body>
    
    {% block header %}
        {% include "parents/header.html" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% block sidebar %}
                {% include "parents/sidebar.html" %}
            {% endblock %}
            
            <div class="col-9">
                <div class="row text-right mt-3">
                    <div class="col-12">
                        <div class="add-new">
                            <a href="{% url 'master_data:contract_create_page' %}" class="btn btn-primary w-100">
                                افزودن مورد جدید
                                <i class="far fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="alert-section">
                            <div class="alert-message error-message front text-right mb-3">
                                <div class="alert-message-content error-content">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <div class="alert-message-text error-text">
                                    </div>
                                </div>
                                <div class="close-message close-error-message">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <div class="alert-message success-message front text-right mb-3">
                                <div class="alert-message-content success-content">
                                  <i class="fas fa-check"></i>
                                  <div class="alert-message-text success-text">
                                    شرکت با موفقیت حذف گردید.
                                  </div>
                                </div>
                                <div class="close-message close-success-message">
                                  <i class="fas fa-times"></i>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <div class="blur">
                            <table id="datatable-filterable" class="table table-bordered dt-responsive nowrap info-table">
                                <thead>
                                    <tr>
                                        <th>
                                            شماره
                                        </th>
                                        <th>
                                            موضوع
                                        </th>
                                        <th>
                                            طرف اول
                                        </th>
                                        <th>
                                            طرف دوم
                                        </th>
                                        <th>
                                            تاریخ شروع
                                        </th>
                                        <th>
                                            تاریخ پایان
                                        </th>
                                        <th>
                                            ویرایش
                                        </th>
                                        <th>
                                            حذف
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for item in Contracts %}
                                        <tr>
                                            <td>{{item.contract_number}}</td>
                                            <td>{{item.contract_subject}}</td>
                                            <td>{{item.first_party_contract__title}}</td>
                                            <td>{{item.other_party_contract__title}}</td>
                                            <td>{{item.start_date|date_to_jalali}}</td>
                                            <td>{{item.end_date|date_to_jalali}}</td>
                                            <td class="text-center"><a href="{% url 'master_data:contract_edit_page' item.id %}"><i class="cursor-pointer fas fa-pen"></i></a></td>
                                            <td class="text-center"><i val="{{item.id}}" class="cursor-pointer fas fa-trash-alt delete-contract"></i></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="loading d-hide">
                            <img src="{% static "images/loading.svg" %}" alt="در حال بارگذاری...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "parents/footer.html" %}
    {% endblock %}

    <script>
        var table = $('#datatable-filterable').DataTable({
            order: [],
        })

        // $("#submit").click(function (e) {
        //     e.preventDefault();
        //     var companies = $("#inputCompany").select2('data');
        //     var jobGroups = $("#inputJobGroups").select2('data');
        //     var jobs = $("#inputJobTitles").select2('data');
        //     var deputies = $("#inputDeputy").select2('data');
        //     var managements = $("#inputManagement").select2('data');
        //     var fullName = $("#inputFullName").val();
        //     var fatherName = $("#inputFathersName").val();
        //     var role = $("#inputRole").val();
        //     var status;
        //     if ($("#inputStatus").val() == '1') {
        //         status = 'فعال';
        //     }
        //     else if ($("#inputStatus").val() == '2') {
        //         status = 'غیرفعال';
        //     }
        //     else {
        //         status = '';
        //     }

        //     var companyRegex = '';
        //     for (var item of companies) {
        //         companyRegex += '^' + item.title + '$' + '|';
        //     }
        //     companyRegex = companyRegex.substr(0, companyRegex.length - 1);

        //     var jobGroupRegex = '';
        //     for (var item of jobGroups) {
        //         jobGroupRegex += '^' + item.text + '$' + '|';
        //     }
        //     jobGroupRegex = jobGroupRegex.substr(0, jobGroupRegex.length - 1);

        //     var jobTitleRegex = '';
        //     for (var item of jobs) {
        //         jobTitleRegex += '^' + item.text + '$' + '|';
        //     }
        //     jobTitleRegex = jobTitleRegex.substr(0, jobTitleRegex.length - 1);

        //     var deputyRegex = '';
        //     for (var item of deputies) {
        //         deputyRegex += '^' + item.text + '$' + '|';
        //     }
        //     deputyRegex = deputyRegex.substr(0, deputyRegex.length - 1);

        //     var managementRegex = '';
        //     for (var item of managements) {
        //         managementRegex += '^' + item.text + '$' + '|';
        //     }
        //     managementRegex = managementRegex.substr(0, managementRegex.length - 1);

        //     table.column(1)
        //         .search(fullName)
        //         .column(2)
        //         .search(fatherName)
        //         .column(3)
        //         .search(companyRegex.length > 0 ? companyRegex : '', true, false)
        //         .column(4)
        //         .search(role)
        //         .column(5)
        //         .search(jobGroupRegex.length > 0 ? jobGroupRegex : '', true, false)
        //         .column(6)
        //         .search(jobTitleRegex.length > 0 ? jobTitleRegex : '', true, false)
        //         .column(7)
        //         .search(deputyRegex.length > 0 ? deputyRegex : '', true, false)
        //         .column(8)
        //         .search(managementRegex.length > 0 ? managementRegex : '', true, false)
        //         .column(10)
        //         .search(status)
        //         .draw();
        // })
        
        $(document).on('click', ".delete-contract", function (){
            $(".blur").addClass('active disable-form');
            $(".loading-fixed").show();

            var contractID = $(this).attr('val');
            console.log(contractID);

            data = {};
            data.publish = JSON.stringify(false);
            console.log(data);

            var ajaxURL = '{.% url "main:contract_edit" 0 %}';
            ajaxURL = ajaxURL.substr(0, ajaxURL.length - 2) + contractID + '/';

            console.log(ajaxURL);

            var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

            $.ajax (
                {
                    method: 'PATCH',
                    url: ajaxURL,
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function (json, status) {
                        $(".blur").removeClass('active disable-form');
                        $(".loading").hide();
                        console.log(status);
                        console.log(json);
                        if (status == "success")
                        {
                            $(".alert-message.success-message").show();
                            $(".alert-message.error-message").hide();
                            $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                            }, 1000);
                            setTimeout( function () {
                                window.location.reload(false);
                            }, 1500)
                        }
                        else
                        {
                            $(".alert-message-text.error-text").html(json.error + ' ' + '(' + json.status + ')');
                            $(".alert-message.error-message").show();
                            $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                            }, 1000);
                        }
                    },
                    error: function (json, xhr, status) {
                        console.log(json.responseJSON.error);
                        console.log(xhr);
                        console.log(status);
                        $(".blur").removeClass('active disable-form');
                        $(".loading").hide();
                        $(".alert-message-text.error-text").html(json.responseJSON.error + ' ' + '(' + status + ')');
                        $(".alert-message.error-message").show();
                        $("html, body").animate({
                            scrollTop: $(".alert-section").offset().top - 20
                        }, 1000);
                    }
                }
            )
        })
    </script>
    
</body>
</html>