{% load i18n static %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

    <title>سامانه نظام پیشنهادها | لیست گروه های شغلی</title>
</head>
<body>
    
    {% block header %}
        {% include "parents/header.html" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% block sidebar %}
                {% include "parents/sidebar.html" %}
            {% endblock %}
            
            <div class="col-9">
                <div class="row text-right mt-3">
                    <div class="col-12">
                        <div class="add-new">
                            <a href="{% url 'master_data:job_group_create_page' %}" class="btn btn-primary w-100">
                                افزودن مورد جدید
                                <i class="far fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="alert-section">
                            <div class="alert-message error-message front text-right mb-3">
                                <div class="alert-message-content error-content">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <div class="alert-message-text error-text">
                                    </div>
                                </div>
                                <div class="close-message close-error-message">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <div class="alert-message success-message front text-right mb-3">
                                <div class="alert-message-content success-content">
                                  <i class="fas fa-check"></i>
                                  <div class="alert-message-text success-text">
                                    گروه شغلی با موفقیت غیرفعال گردید.
                                  </div>
                                </div>
                                <div class="close-message close-success-message">
                                  <i class="fas fa-times"></i>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <div class="blur">
                            <table id="datatable" class="table table-bordered dt-responsive nowrap info-table">
                                <thead>
                                    <tr>
                                        <th>
                                            عنوان
                                        </th>
                                        <th>
                                            ویرایش
                                        </th>
                                        <th>
                                            غیرفعال کردن
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for item in JobGroups %}
                                        <tr>
                                            <td>{{item.title}}</td>
                                            <td class="text-center"><a href="{% url 'master_data:job_group_edit_page' item.id %}"><i class="cursor-pointer fas fa-pen"></i></a></td>
                                            <td class="text-center"><i val="{{item.id}}" class="cursor-pointer fas fa-trash-alt delete-job-group"></i></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="loading d-hide">
                            <img src="{% static "images/loading.svg" %}" alt="در حال بارگذاری...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "parents/footer.html" %}
    {% endblock %}

    <script>
        $(document).on('click', ".delete-job-group", function (){
            $(".blur").addClass('active disable-form');
            $(".loading").show();

            var jobGroupID = $(this).attr('val');

            $.ajax (
                {
                    method: 'POST',
                    url: '{% url "master_data:ajax_delete_job_group" %}',
                    data: {
                        id: jobGroupID,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (json) {
                        $(".blur").removeClass('active disable-form');
                        $(".loading").hide();
                        if (json.status == "200")
                        {
                            $(".alert-message.success-message").show();
                            $(".alert-message.error-message").hide();
                            $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                            }, 1000);
                            setTimeout( function () {
                                window.location.reload(false);
                            }, 1500)
                        }
                        else
                        {
                            $(".alert-message-text.error-text").html(json.error + ' ' + '(' + json.status + ')');
                            $(".alert-message.error-message").show();
                            $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                            }, 1000);
                        }
                    },
                    error: function (json, xhr, status) {
                        console.log(json);
                        console.log(xhr);
                        console.log(status);
                        $(".blur").removeClass('active disable-form');
                        $(".loading").hide();
                        $(".alert-message-text.error-text").html(' ' + '(' + status + ')');
                        $(".alert-message.error-message").show();
                        $("html, body").animate({
                            scrollTop: $(".alert-section").offset().top - 20
                        }, 1000);
                    }
                }
            )
        })
    </script>
    
</body>
</html>