{% load i18n static %}
{% load filters %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

<title>سامانه پروژه ها | جزئیات مکاتبه</title>
</head>

<body>
    <div class="loading-fixed d-hide">
        <img src="{% static "images/loading.svg" %}" alt="در حال بارگذاری...">
    </div>

    {% block header %}
        {% include "parents/header.html" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% block sidebar %}
                {% include "parents/sidebar.html" %}
            {% endblock %}
            <div class="col-9">
                <div class="row text-right">
                    <div class="col-12">
                        <div class="blur">
                            <h4>{{OfficialLetter.title}}</h4>
                            <p><strong>{{OfficialLetter.create_date|datetime_to_jalali}}</strong></p>
                            <p>{{OfficialLetter.description}}</p>
                            <h6>
                                از طرف
                                <strong>{{OfficialLetter.sender}}</strong>
                            </h6>
                            <h6>
                                ارجاع به
                                <strong>{{OfficialLetter.receiver}}</strong>
                            </h6>
                            <br>
                            {% if OfficialLetter.attached_file != None %}
                                <a href="/{{OfficialLetter.attached_file}}" target="_blank">دانلود فایل پیوست</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- reply -->
                {% if OfficialLetter.answer.description != None %}
                    <br>
                    <div class="row text-right">
                        <div class="col-12">
                            <div class="blur bg-info text-white p-3">
                                <h4>پاسخ {{OfficialLetter.receiver}}</h4>
                                <p><strong>{{OfficialLetter.answer.datetime|str_to_jalali_datetime}}</strong></p>
                                <p>{{OfficialLetter.answer.description}}</p>
                                {% if OfficialLetter.answer.file != None %}
                                    <a href="/{{OfficialLetter.answer.file}}">دانلود پیوست</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- reply -->

                {% if OfficialLetter.answer.description == None %}
                    <br>
                    <div class="row text-right">
                        <div class="col-12">
                            <div class="blur">
                                <h2 class="title_page">پاسخ به مکاتبه</h2>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert-section">
                                            <div class="alert-message error-message front text-right mb-3">
                                                <div class="alert-message-content error-content">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    <div class="alert-message-text error-text">
                                                    </div>
                                                </div>
                                                <div class="close-message close-error-message">
                                                    <i class="fas fa-times"></i>
                                                </div>
                                            </div>
                                            <div class="alert-message success-message front text-right mb-3">
                                                <div class="alert-message-content success-content">
                                                    <i class="fas fa-check"></i>
                                                    <div class="alert-message-text success-text">
                                                        نامه مکاتباتی جدید با موفقیت ثبت گردید.
                                                    </div>
                                                </div>
                                                <div class="close-message close-success-message">
                                                    <i class="fas fa-times"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    
                                    </div>
                                
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                        <label for="inputProjectDescription">توضیحات</label>
                                        <textarea class="form-control" id="inputProjectDescription" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="inputFile">پیوست<code>*</code></label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left"
                                        title="فیلد پیوست اجباری است."></i>
                                        <input type="file" class="form-control-file" id="inputFile">
                                    </div>
                                    <br>


                                    <button id="submit" type="submit" class="btn btn-primary">ثبت</button>
                                    <br>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    {% block footer %}
    {% include "parents/footer.html" %}
    {% endblock %}

    <script src="{% static "js/base-information/job-group.js" %}" type="text/javascript"></script>

    <script>



        $(document).on('click', '.remove-row', function () {
            var count = $(".row-list > .form-row").length - 1;
            for (item of $(this).parent().parent().nextAll('.form-row')) {
                var count = parseInt($(item).find('.count').text());

                $(item).find('.count').text(' ' + (count - 1).toString());
                $(item).find("label[val='job']").prop('for', 'inputJob-' + (count - 1).toString());
                $(item).find("input").prop('id', 'inputJob-' + (count - 1).toString());
            }
            $(this).parent().parent().remove();
        })

        $("#submit").click(function (e) {
            e.preventDefault();
            var checks = checkJobGroupFnc();
            if (checks) {
                $(".blur").addClass('active disable-form');
                $(".loading-fixed").show();

                var data = {};

                var jobGroupTitle = $("#inputJobGroupTitle").val();
                var jobGroupJobElements = $(".main-item");
                var jobGroupJobs = [];

                for (var item of jobGroupJobElements) {
                    jobGroupJobs.push($(item).find("input").first().val());
                }

                data['jobgroup_title'] = jobGroupTitle;
                data['jobgroup_jobs'] = jobGroupJobs;

                $.ajax(
                    {
                        method: 'POST',
                        url: '{.% url "master_data:ajax_create_job_group" %}',
                        data: {
                            content: JSON.stringify(data),
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function (json) {
                            if (json.status == '201') {
                                $(".blur").removeClass('active');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                    scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message.success-message").show();
                                $(".alert-message.error-message").hide();
                                var redirectURL = '{.% url "master_data:job_group_list_page" %}';
                                setTimeout(function () {
                                    location.replace(redirectURL);
                                }, 1500)
                            }
                            else {
                                $(".blur").removeClass('active disable-form');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                    scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message-text.error-text").html(json.error + ' ' + '(' + json.status + ')');
                                $(".alert-message.error-message").show();
                            }
                        },
                        error: function (json, status, xhr) {
                            console.log(json);
                            console.log(status);
                            console.log(xhr);
                            $(".blur").removeClass('active disable-form');
                            $(".loading-fixed").hide();
                            $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                            }, 1000);
                            $(".alert-message-text.error-text").html(xhr + ' ' + '(' + status + ')');
                            $(".alert-message.error-message").show();
                        }
                    }
                )
            }
            else {
                $("html, body").animate({
                    scrollTop: $(".alert-section").offset().top - 20
                }, 1000);
            }
        })
    </script>

</body>

</html>