{% load i18n static %}
{% load filters %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

<title>سامانه نظام پیشنهادها | ویرایش پروفایل</title>
</head>

<body>

    <div class="loading-fixed d-hide">
        <img src="{% static "images/loading.svg" %}" alt="در حال بارگذاری...">
    </div>

    {% block header %}
        {% include "parents/header.html" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% block sidebar %}
            {% include "parents/sidebar.html" %}
            {% endblock %}

            <div class="col-9">
                <div class="row text-right">
                    <div class="col-12">
                        <div class="blur">
                            <h2 class="title_page">ویرایش پروفایل</h2>
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert-section">
                                        <div class="alert-message error-message front text-right mb-3">
                                            <div class="alert-message-content error-content">
                                                <i class="fas fa-exclamation-circle"></i>
                                                <div class="alert-message-text error-text">
                                                </div>
                                            </div>
                                            <div class="close-message close-error-message">
                                                <i class="fas fa-times"></i>
                                            </div>
                                        </div>
                                        <div class="alert-message success-message front text-right mb-3">
                                            <div class="alert-message-content success-content">
                                                <i class="fas fa-check"></i>
                                                <div class="alert-message-text success-text">
                                                    پرسنل با موفقیت ویرایش گردید.
                                                </div>
                                            </div>
                                            <div class="close-message close-success-message">
                                                <i class="fas fa-times"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات شخصی</h4>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputFName">نام<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left" 
                                                title="فیلد نام الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputFName" maxlength="50" value="{{ThisUser.first_name}}">
                                            </div>
                                            
                                            <div class="form-group col-md-4">
                                                <label for="inputLName">نام خانوادگی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد نام خانوادگی الزامی است و حداکثر میتواند تا 150 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputLName" maxlength="150" value="{{ThisUser.last_name}}">
                                            </div>
                                            
                                            <div class="form-group col-md-4">
                                                <label for="inputFatherName">نام پدر<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد نام پدر الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputFatherName" maxlength="50" value="{{ThisUser.father_s_name}}">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputGender">جنسیت<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left" title="تعیین جنسیت الزامی میباشد."></i>
                                                <select id="inputGender" class="form-control select2-static-component">
                                                    <option value="0">انتخاب...</option>
                                                    <option value="f" {% if ThisUser.gender == 'f' %} selected {% endif %}>زن</option>
                                                    <option value="m" {% if ThisUser.gender == 'm' %} selected {% endif %}>مرد</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputNationalCode">کد ملی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="کد ملی الزامی است و بایستی به صورت 10 کاراکتر عددی وارد گشته و معتبر باشد."></i>
                                                <input type="number" class="form-control" id="inputNationalCode" value="{{ThisUser.national_code}}">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputBirthCertificateNo">شماره شناسنامه<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="شماره شناسنامه الزامی است و بایستی به صورت عددی وارد گشته و حداکثر تا 10 کاراکتر باشد."></i>
                                                <input type="number" class="form-control" id="inputBirthCertificateNo" value="{{ThisUser.birth_certificate_id}}">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputBirthDate">تاریخ تولد<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="فیلد تاریخ تولد اجباری است و برای وارد کردن تاریخ از تقویم تعبیه شده درون فیلد استفاده نمائید."></i>
                                                <input type="text" class="form-control" id="inputBirthDate" value="{{ThisUser.birthday|date_to_jalali}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات تحصیلی</h4>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputDegree">مدرک تحصیلی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left" title="تعیین مقطع تحصیلی الزامی میباشد."></i>
                                                <select id="inputDegree" class="form-control select2-static-component">
                                                    <option value="0">انتخاب...</option>
                                                    <option value="elementary" {% if ThisUser.degree == 'elementary' %} selected {% endif %}>ابتدایی</option>
                                                    <option value="middle-school" {% if ThisUser.degree == 'middle-school' %} selected {% endif %}>سیکل</option>
                                                    <option value="diploma" {% if ThisUser.degree == 'diploma' %} selected {% endif %}>دیپلم</option>
                                                    <option value="associate" {% if ThisUser.degree == 'associate' %} selected {% endif %}>فوق دیپلم</option>
                                                    <option value="bachelor" {% if ThisUser.degree == 'bachelor' %} selected {% endif %}>لیسانس</option>
                                                    <option value="master" {% if ThisUser.degree == 'master' %} selected {% endif %}>فوق لیسانس</option>
                                                    <option value="phd" {% if ThisUser.degree == 'phd' %} selected {% endif %}>دکترا</option>
                                                    <option value="post-doctoral" {% if ThisUser.degree == 'post-doctoral' %} selected {% endif %}>فوق دکترا</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputMajor">رشته تحصیلی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="فیلد رشته تحصیلی الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputMajor" maxlength="50" value="{{ThisUser.major}}">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputCollegePlace">دانشگاه محل تحصیل<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="فیلد دانشگاه محل تحصیل الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputCollegePlace" maxlength="50" value="{{ThisUser.university_of_study}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات کاری</h4>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputexecutive_device">دستگاه اجرایی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left" title="تعیین دستگاه اجرایی الزامی میباشد."></i>
                                                <select id="inputexecutive_device" class="form-control select2-ajax">
                                                    <option value="{{ThisUser.executive_device.id}}" selected>{{ThisUser.executive_device.title}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputRole">سمت<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="فیلد سمت الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputRole" maxlength="50" value="{{ThisUser.role|default_if_none:''}}">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputwork_experience">سابقه کاری<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="فیلد سابقه کار الزامی می باشد."></i>
                                                <input type="text" class="form-control" id="inputwork_experience" value="{{ThisUser.work_experience|default_if_none:''}}">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputpersonnel_id">شماره پرسنلی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="فیلد شماره پرسنلی الزامی می باشد."></i>
                                                <input type="text" class="form-control" id="inputpersonnel_id" value="{{ThisUser.personnel_id|default_if_none:''}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات دسترسی</h4>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputAddress">آدرس<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left" title="فیلد آدرس اجباری میباشد."></i>
                                                <textarea name="address" class="form-control" id="inputAddress" rows="4">{{ThisUser.address}}</textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputzip_code">کد پستی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="کد پستی الزامی است و بایستی به صورت 10 کاراکتر عددی وارد گشته و معتبر باشد."></i>
                                                <input type="number" class="form-control" id="inputzip_code" value="{{ThisUser.zip_code}}">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputnecessary_contact_number">شماره تماس ضروری</label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="فیلد شماره تماس ضروری بایستی شامل 11 کاراکتر عددی باشد (شامل پیش شماره شهر)."></i>
                                                {% if ThisUser.necessary_contact_number|length == 0 %}
                                                    <input type="number" class="form-control" id="inputnecessary_contact_number" placeholder="0343000000">
                                                {% else %}
                                                    <input type="number" class="form-control" id="inputnecessary_contact_number" value="{{ThisUser.necessary_contact_number}}">
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputmobile">شماره تلفن همراه<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="وارد کردن شماره تلفن همراه الزامی بوده و بایستی با 09 شروع شده و در قالب 11 کاراکتر عددی باشد."></i>
                                                <input type="number" class="form-control" id="inputmobile" value="{{ThisUser.mobile}}">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputworkplace_number">شماره محل کار</label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="فیلد شماره محل کار بایستی شامل 11 کاراکتر عددی باشد (شامل پیش شماره شهر)."></i>
                                                {% if ThisUser.workplace_number|length == 0 %}
                                                    <input type="number" class="form-control" id="inputworkplace_number" placeholder="0343000000">
                                                {% else %}
                                                    <input type="number" class="form-control" id="inputnecessary_contact_number" value="{{ThisUser.workplace_number}}">
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail">پست الکترونیکی</label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل به وارد نمودن این فیلد بایستی یک آدرس پست الکترونیکی معتبر را وارد نمائید."></i>
                                                {% if ThisUser.email|length == 0 %}
                                                    <input type="email" class="form-control" id="inputEmail" placeholder="youremail@example.com">
                                                {% else %}
                                                    <input type="email" class="form-control" id="inputEmail" value="{{ThisUser.email}}">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <br>
                                        
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات پروفایل</h4>
                                    <br>
                                    <div class=" justify-content-between">
                                        <div class="form-group col-md-12">
                                            <label>عکس پروفایل</label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان پروفایل پرسنل انتخاب نمائید."></i>
                                            <div class="image-input-container position-relative">
                                                <label for="inputFile">
                                                    <img id="profile" class="cursor-pointer w-100 border-img temp-image" src="{{ThisUser.profile.url}}" alt="عکس پروفایل">
                                                    <input type="file" class="form-control-file" id="inputFile" onchange="readURL(this);" hidden>
                                                    <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputUsername">نام کاربری<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد نام کاربری الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputUsername" maxlength="50" value="{{ThisUser.username}}">
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row row-form-group">
                                    <h4 class="row-form-group__title">بارگذاری</h4>
                                    <br>

                                    <div class="form-group col-md-3">
                                        <label>عکس</label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان عکس پرسنلی انتخاب نمائید."></i>
                                        <div class="image-input-container position-relative text-center">
                                            <label for="inputpicture">
                                                <a href="{{BASE_URL}}/{{ThisUser.picture}}" class="btn btn-primary"> دانلود "عکس" بارگذاری شده</a>
                                                <br><br>
                                                <img id="profile" class="cursor-pointer w-100 border-img temp-image" src="{% static 'images/default/default-upload.jpg' %}" alt="عکس">
                                                <input type="file" class="form-control-file" id="inputpicture" onchange="readURL(this);" hidden>
                                                <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>کارت شناسایی پرسنلی</label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان کارت شناسایی پرسنلی انتخاب نمائید."></i>
                                        <div class="image-input-container position-relative text-center">
                                            <label for="inputpersonal_id_card">
                                                <a href="{{BASE_URL}}/{{ThisUser.personal_id_card}}" class="btn btn-primary"> دانلود "کارت شناسایی پرسنلی" بارگذاری شده</a>
                                                <br><br>
                                                <img id="profile" class="cursor-pointer w-100 border-img temp-image" src="{% static 'images/default/default-upload.jpg' %}" alt="کارت شناسایی پرسنلی">
                                                <input type="file" class="form-control-file" id="inputpersonal_id_card" onchange="readURL(this);" hidden>
                                                <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>معرفی نامه دستگاه</label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان پروفایل پرسنل انتخاب نمائید."></i>
                                        <div class="image-input-container position-relative text-center">
                                            <label for="inputdevice_introduction_letter">
                                                <a href="{{BASE_URL}}/{{ThisUser.device_introduction_letter}}" class="btn btn-primary"> دانلود "معرفی نامه دستگاه" بارگذاری شده</a>
                                                <br><br>
                                                <img id="profile" class="cursor-pointer w-100 border-img temp-image" src="{% static 'images/default/default-upload.jpg' %}" alt="معرفی نامه دستکاه">
                                                <input type="file" class="form-control-file" id="inputdevice_introduction_letter" onchange="readURL(this);" hidden>
                                                <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>نمونه امضا</label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان پروفایل پرسنل انتخاب نمائید."></i>
                                        <div class="image-input-container position-relative text-center">
                                            <label for="inputsample_signature">
                                                <a href="{{BASE_URL}}/{{ThisUser.sample_signature}}" class="btn btn-primary"> دانلود "نمونه امضا" بارگذاری شده</a>
                                                <br><br>
                                                <img id="profile" class="cursor-pointer w-100 border-img temp-image" src="{% static 'images/default/default-upload.jpg' %}" alt="نمونه امضا">
                                                <input type="file" class="form-control-file" id="inputsample_signature" onchange="readURL(this);" hidden>
                                                <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="form-group col-md-12 text-left">
                                        <button id="submit" type="submit" class="btn btn-primary">ثبت</button>
                                        <br><br>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% block footer %}
        {% include "parents/footer.html" %}
    {% endblock %}

    <script src="{% static "js/jalali-to-georgian.js" %}" type="text/javascript"></script>
    <script src="{% static "js/control-fields.js" %}" type="text/javascript"></script>
    <script src="{% static "js/base-information/personnel.js" %}" type="text/javascript"></script>

    <script>
        //#region Initialization Page
        kamaDatepicker('inputBirthDate', {
            nextButtonIcon: "https://www.jqueryscript.net/demo/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/timeir_next.png"
            , previousButtonIcon: "https://www.jqueryscript.net/demo/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/timeir_prev.png"
            , forceFarsiDigits: true
            , markToday: true
            , markHolidays: true
            , highlightSelectedDay: true
            , sync: true
        });

        $(".select2-ajax").select2({
            dir: "rtl",
            ajax: {
                method: 'POST',
                url: "{.% url 'master_data:ajax_search_in_companies' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term, // search term
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            placeholder: 'جستجو...',
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });

        function formatRepo(repo) {
            if (repo.loading) {
                return repo.text;
            }

            var $container = $(
                "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'></div>" +
                "</div>" +
                "</div>"
            );

            $container.find(".select2-result-repository__title").text(repo.title + ' (' + repo.national_code + ')');

            return $container;
        }

        function formatRepoSelection(repo) {
            if (repo.id && repo.title && repo.national_code) {
                return repo.title + ' (' + repo.national_code + ')';
            }
            return repo.text;
        }
        //#endregion

        
        $("#submit").click(function (e) {
            e.preventDefault();
            // var checks = checkPersonnelFnc();
            if (true) {
                $(".blur").addClass('active disable-form');
                $(".loading-fixed").show();
                formData = new FormData();
                
                var firstName = $("#inputFName").val();
                var lastName = $("#inputLName").val();
                var fatherName = $("#inputFatherName").val();
                var gender = $("#inputGender").val();
                var nationalCode = $("#inputNationalCode").val();
                var birthCertificateNo = $("#inputBirthCertificateNo").val();
                var birthDate = customJalaliToGregorianFnc($("#inputBirthDate").val());
                var degree = $("#inputDegree").val();
                var major = $("#inputMajor").val();
                var collegePlace = $("#inputCollegePlace").val();
                var executive_device = $("#inputPexecutive_device option:selected").text();
                var role = $("#inputRole").val();
                var workExperience = $("#inputwork_experience").val();
                var personnelID = $("#inputpersonnel_id").val();
                var address = $("#inputAddress").val();
                var zipCode = $("#inputzip_code").val();
                var necessaryContactNumber = $("#inputnecessary_contact_number").val();
                var mobileNumber = $("#inputmobile").val();
                var workplaceNumber = $("#inputworkplace_number").val();
                var email = $("#inputEmail").val();
                var image = $("#inputFile")[0].files[0];
                var username = $("#inputUsername").val();
                var repeatPassword = $("#inputRepeatPassword").val();
                var picture = $("#inputpicture")[0].files[0];
                var personnelIDCard = $("#inputpersonal_id_card")[0].files[0];
                var deviceIntroductionLetter = $("#inputdevice_introduction_letter")[0].files[0];
                var signatureSample = $("#inputsample_signature")[0].files[0];

                formData.append('username', username);
                formData.append('first_name', firstName);
                formData.append('last_name', lastName);
                formData.append('father_s_name', fatherName);
                formData.append('gender', gender);
                formData.append('birth_certificate_id', birthCertificateNo);
                formData.append('national_code', nationalCode);
                formData.append('birthday', birthDate);
                formData.append('degree', degree);
                formData.append('major', major);
                formData.append('university_of_study', collegePlace);
                formData.append('executive_device', executive_device);
                formData.append('role', role);
                formData.append('work_experience', workExperience);
                formData.append('personnel_id', personnelID);
                formData.append('address', address);
                formData.append('zip_code', zipCode);
                formData.append('mobile', mobileNumber);
                formData.append('necessary_contact_number', necessaryContactNumber);
                formData.append('workplace_number', workplaceNumber);
                formData.append('email', email);
                formData.append('profile', image);
                formData.append('picture', picture);
                formData.append('personal_id_card', personnelIDCard);
                formData.append('device_introduction_letter', deviceIntroductionLetter);
                formData.append('sample_signature', signatureSample);

                var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
                
                // formData.forEach(function(value, key){
                //     console.log(key, value);
                // });

                $.ajax(
                    {
                        method: 'POST',
                        url: "{% url 'master_data:ajax_edit_personnel' %}",
                        contentType: false,
                        processData: false,
                        data: formData,
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function (json, status) {
                            if (json.status == '200') {
                                $(".blur").removeClass('active');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                    scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message.success-message").show();
                                $(".alert-message.error-message").hide();
                                var redirectURL = '{% url "master_data:personnel_list_page" %}';
                                setTimeout(function () {
                                    location.replace(redirectURL);
                                }, 1500)
                            }
                            else {
                                $(".blur").removeClass('active disable-form');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                    scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message-text.error-text").html(json.error + ' ' + '(' + json.status + ')');
                                $(".alert-message.error-message").show();
                            }
                        },
                        error: function (json, status, xhr) {
                            console.log(json.responseJSON.error);
                            console.log(status);
                            console.log(xhr);
                            $(".blur").removeClass('active disable-form');
                            $(".loading-fixed").hide();
                            $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                            }, 1000);
                            $(".alert-message-text.error-text").html(json.responseJSON.error + ' - ' + xhr + ' ' + '(' + status + ')');
                            $(".alert-message.error-message").show();
                        }
                    }
                )
            }
            else {
                $("html, body").animate({
                    scrollTop: $(".alert-section").offset().top - 20
                }, 1000);
            }
        })

    </script>

</body>

</html>