{% load i18n static %}
{% load filters %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

<title>سامانه پروژه ها | مشاهده پروفایل {{ThisUser.username}}</title>
</head>

<body>

    {% block header %}
        {% include "parents/header.html" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% block sidebar %}
                {% include "parents/sidebar.html" %}
            {% endblock %}

            <div class="col-9">
                <div class="row text-right">
                    <div class="col-12">
                        <h2 class="title_page">اطلاعات پرسنل</h2>
                        <br>
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <img class="w-100" src="{{ThisUser.profile.url}}" alt="عکس پروفایل">
                            </div>
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <p class="title d-inline">نام کاربری: </p>
                                    <p class="value d-inline">{{ThisUser.username}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">نام: </p>
                                    <p class="value d-inline">{{ThisUser.first_name}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">نام خانوادگی: </p>
                                    <p class="value d-inline">{{ThisUser.last_name}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">نام پدر: </p>
                                    <p class="value d-inline">{{ThisUser.father_s_name}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">جنسیت: </p>
                                    <p class="value d-inline">{{ThisUser.gender|gender_to_fa}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">کد ملی: </p>
                                    <p class="value d-inline">{{ThisUser.national_code}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">شماره شناسنامه: </p>
                                    <p class="value d-inline">{{ThisUser.birth_certificate_id}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">تاریخ تولد: </p>
                                    <p class="value d-inline">{{ThisUser.birthday|date_to_jalali}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>اطلاعات تحصیلی</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">مدرک تحصیلی: </p>
                                <p class="value d-inline">{{ThisUser.degree|degree_to_fa}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">رشته تحصیلی: </p>
                                <p class="value d-inline">{{ThisUser.major}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">دانشگاه محل تحصیلی: </p>
                                <p class="value d-inline">{{ThisUser.university_of_study}}</p>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>اطلاعات کاری</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">دستگاه اجرایی: </p>
                                <p class="value d-inline">{{ThisUser.executive_device.title|default_if_none:"ندارد"}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">سمت: </p>
                                <p class="value d-inline">{{ThisUser.role|default_if_none:"ندارد"}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">سابقه کاری: </p>
                                <p class="value d-inline">{{ThisUser.work_experience|default_if_none:"ندارد"}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره پرسنلی: </p>
                                <p class="value d-inline">{{ThisUser.personnel_id|default_if_none:"ندارد"}}</p>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>اطلاعات دسترسی</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="title d-inline">آدرس: </p>
                                <p class="value d-inline">{{ThisUser.address|default_if_none:"ندارد"}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">کد پستی: </p>
                                <p class="value d-inline">{{ThisUser.zip_code|default_if_none:"ندارد"}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره تماس ضروری: </p>
                                <p class="value d-inline">{{ThisUser.necessary_contact_number|default_if_none:"ندارد"}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره تلفن همراه: </p>
                                <p class="value d-inline">{{ThisUser.mobile|default_if_none:"ندارد"}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره محل کار: </p>
                                <p class="value d-inline">{{ThisUser.workplace_number|default_if_none:"ندارد"}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">پست الکترونیکی: </p>
                                <p class="value d-inline">{{ThisUser.email|default_if_none:"ندارد"}}</p>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>بارگذاری ها</h4>
                        <br>
                        <div class="form-row">
                            <div class="col-md-3">
                                <p class="title d-inline">
                                    <a href="{{BASE_URL}}/{{ThisUser.picture}}">عکس</a>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="title d-inline">
                                    <a href="{{BASE_URL}}/{{ThisUser.personal_id_card}}">کارت شناسایی پرسنلی</a>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="title d-inline">
                                    <a href="{{BASE_URL}}/{{ThisUser.device_introduction_letter}}">معرفی نامه دستگاه</a>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="title d-inline">
                                    <a href="{{BASE_URL}}/{{ThisUser.sample_signature}}">نمونه امضا</a>
                                </p>
                            </div>                   
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "parents/footer.html" %}
    {% endblock %}

    <script>
        var jobTitle = '{{ThisUser.job_title|safe}}';
        jobTitle = JSON.parse(jobTitle);
        var management = '{{ThisUser.management|safe}}';
        management = JSON.parse(management);

        $("#job-title").html(jobTitle.title);
        $("#management").html(management.title);
    </script>

</body>

</html>