{% load i18n static %}
{% load filters %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

<title>سامانه نظام پیشنهادها | تایید اطلاعات پرسنل</title>
</head>

<body>

    {% block header %}
        {% include "parents/header.html" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% block sidebar %}
                {% include "parents/sidebar.html" %}
            {% endblock %}

            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                      <div class="alert-section">
                        <div class="alert-message error-message front text-right mb-3">
                          <div class="alert-message-content error-content">
                            <i class="fas fa-exclamation-circle"></i>
                            <div class="alert-message-text alert-message.error-message error-text">
                            </div>
                          </div>
                          <div class="close-message close-error-message">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                        <div class="alert-message success-message front text-right mb-3">
                          <div class="alert-message-content success-content">
                            <i class="fas fa-check"></i>
                            <div class="alert-message-text success-text alert-message.success-message">
                                 با موفقیت ثبت شد.
                            </div>
                          </div>
                          <div class="close-message close-success-message">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="row text-right">
                    <div class="col-12">
                        <h2 class="title_page">جزئیات پرسنل</h2>
                        <br>
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <img class="w-100" src="{{BASE_URL}}/{{ThisUser.profile}}" alt="عکس پروفایل">
                            </div>
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <p class="title d-inline">کد ملی: </p>
                                    <p class="value d-inline">{{ThisUser.national_code}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">نام: </p>
                                    <p class="value d-inline">{{ThisUser.first_name}}</p>
                                </div>
                                <div>
                                    <p class="title d-inline">نام خانوادگی: </p>
                                    <p class="value d-inline">{{ThisUser.last_name}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">نام پدر: </p>
                                <p class="value d-inline">{{ThisUser.father_s_name}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره شناسنامه: </p>
                                <p class="value d-inline">{{ThisUser.birth_certificate_id}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">تاریخ تولد: </p>
                                <p class="value d-inline">{{ThisUser.birthday|date_to_jalali}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">محل تولد: </p>
                                <p class="value d-inline">{{ThisUser.birthplace}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">جنسیت: </p>
                                <p class="value d-inline">{{ThisUser.gender}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">وضعیت تأهل: </p>
                                <p class="value d-inline">{{ThisUser.marital_status}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">تعداد فرزندان: </p>
                                <p class="value d-inline">{{ThisUser.number_of_children}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">مقطع تحصیلی: </p>
                                <p class="value d-inline">{{ThisUser.degree}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-md-6">
                                <p class="title d-inline">شماره ثابت: </p>
                                <p class="value d-inline">{{ThisUser.telephone}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره همراه: </p>
                                <p class="value d-inline">{{ThisUser.mobile}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="title d-inline">آدرس: </p>
                                <p class="value d-inline">{{ThisUser.address}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">شماره بیمه: </p>
                                <p class="value d-inline">{{ThisUser.insurance_number}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">سمت سازمانی: </p>
                                <p class="value d-inline">{{ThisUser.organization_role}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">عنوان شغلی: </p>
                                <p class="value d-inline" id="job-title"></p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">مدیریت: </p>
                                <p class="value d-inline" id="management">{{ThisUser.management}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="title">قسمت های کاری: </p>
                                <p class="value">
                                    {% for section in ThisUser.sections %}
                                        {{section.title}}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br><br>
                                    <label for="user_role">دسترسی کاربر: </label>
                                    <select id="user_role">
                                        <option value="user">کاربر عادی</option>
                                        <option value="department_of_administration">ریاست اداره</option>
                                    </select>
                                    <br>
                                    <button id="send_user_roles" class="btn btn-primary">تغییر نقش و فعال کردن کاربر</button>
                                    <br><br>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "parents/footer.html" %}
    {% endblock %}

    <script>

        $("#send_user_roles").click(function (e) {
            e.preventDefault();
            
                $(".blur").addClass('active disable-form');
                $(".loading-fixed").show();
                var rule = $("#user_role").val();
                var ID = '{{ThisUser.id}}';
                $.ajax (
                    {
                        method: 'POST',
                        url: '{% url "master_data:ajax_confirmation_of_information_personnel" %}',
                        data: {
                            access_group: rule,
                            id: ID,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function (json) {
                            if (json.status == "200")
                            {
                                $(".blur").removeClass('active');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message.success-message").show();
                                $(".alert-message.error-message").hide();
                                var redirectURL = '{% url "master_data:personnel_list_page" %}';
                                setTimeout(function () {
                                location.replace(redirectURL);
                                }, 1500)
                            }
                            else {
                                $(".blur").removeClass('active disable-form');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message-text.error-text").html(json.error + ' ' + '(' + json.status + ')');
                                $(".alert-message.error-message").show();
                            }
                        },
                        error: function (json, status, xhr) {
                            console.log(json.error);
                            console.log(status);
                            console.log(xhr);
                            $(".blur").removeClass('active disable-form');
                            $(".loading-fixed").hide();
                            $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                            }, 1000);
                            $(".alert-message-text.error-text").html(xhr + ' ' + '(' + status + ')');
                            $(".alert-message.error-message").show();
                        }
                    }
                ) 
        })
      
      
    </script>

</body>

</html>