{% load i18n static %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

    <title>سامانه پروژه ها | ثبت پرسنل جدید </title>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
                        
            <div class="col-9">
                <div class="row text-right">
                    <div class="col-12 loginpage">
                        <div class="blur">
                            <div class="login_header text-center">
                                <h2>سامانه بررسی پروژه ها</h2>
                                <h4>فرمانداری استان کرمان</h4>
                                <br><br>
                                <h5>ثبت نام در سامانه</h5>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert-section">
                                        <div class="alert-message error-message front text-right mb-3">
                                            <div class="alert-message-content error-content">
                                                <i class="fas fa-exclamation-circle"></i>
                                                <div class="alert-message-text error-text">
                                                </div>
                                            </div>
                                            <div class="close-message close-error-message">
                                                <i class="fas fa-times"></i>
                                            </div>
                                        </div>
                                        <div class="alert-message success-message front text-right mb-3">
                                            <div class="alert-message-content success-content">
                                                <i class="fas fa-check"></i>
                                                <div class="alert-message-text success-text">
                                                    پرسنل جدید با موفقیت ثبت گردید.
                                                </div>
                                            </div>
                                            <div class="close-message close-success-message">
                                                <i class="fas fa-times"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <form>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات شخصی</h4>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputFName">نام<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left" 
                                                title="فیلد نام الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputFName" maxlength="50">
                                            </div>
                                            
                                            <div class="form-group col-md-4">
                                                <label for="inputLName">نام خانوادگی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد نام خانوادگی الزامی است و حداکثر میتواند تا 150 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputLName" maxlength="150">
                                            </div>
                                            
                                            <div class="form-group col-md-4">
                                                <label for="inputFatherName">نام پدر<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد نام پدر الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputFatherName" maxlength="50">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputGender">جنسیت<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left" title="تعیین جنسیت الزامی میباشد."></i>
                                                <select id="inputGender" class="form-control select2-static-component">
                                                    <option value="0">انتخاب...</option>
                                                    <option value="f">زن</option>
                                                    <option value="m">مرد</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputNationalCode">کد ملی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="کد ملی الزامی است و بایستی به صورت 10 کاراکتر عددی وارد گشته و معتبر باشد."></i>
                                                <input type="number" class="form-control" id="inputNationalCode">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputBirthCertificateNo">شماره شناسنامه<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="شماره شناسنامه الزامی است و بایستی به صورت عددی وارد گشته و حداکثر تا 10 کاراکتر باشد."></i>
                                                <input type="number" class="form-control" id="inputBirthCertificateNo">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputBirthDate">تاریخ تولد<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="فیلد تاریخ تولد اجباری است و برای وارد کردن تاریخ از تقویم تعبیه شده درون فیلد استفاده نمائید."></i>
                                                <input type="text" class="form-control" id="inputBirthDate">
                                            </div>
                                            
                                        </div>
                                        <br>
                                        <div class="form-row">
                                            
                                            <!-- <div class="form-group col-md-4">
                                                <label for="inputPassword">رمز عبور<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد رمز عبور الزامی است."></i>
                                                <input type="password" class="form-control" id="inputPassword">
                                            </div> -->
                                            
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات تحصیلی</h4>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputDegree">مدرک تحصیلی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left" title="تعیین مقطع تحصیلی الزامی میباشد."></i>
                                                <select id="inputDegree" class="form-control select2-static-component">
                                                    <option value="0">انتخاب...</option>
                                                    <option value="elementary">ابتدایی</option>
                                                    <option value="middle-school">سیکل</option>
                                                    <option value="diploma">دیپلم</option>
                                                    <option value="associate">فوق دیپلم</option>
                                                    <option value="bachelor">لیسانس</option>
                                                    <option value="master">فوق لیسانس</option>
                                                    <option value="phd">دکترا</option>
                                                    <option value="post-doctoral">فوق دکترا</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputMajor">رشته تحصیلی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="فیلد رشته تحصیلی الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputMajor" maxlength="50">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputMajor">دانشگاه محل تحصیل<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="فیلد دانشگاه محل تحصیل الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputMajor" maxlength="50">
                                            </div>



                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات کاری</h4>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputexecutive_device">دستگاه اجرایی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left" title="تعیین دستگاه اجرایی الزامی میباشد."></i>
                                                <select id="inputexecutive_device" class="form-control select2-ajax">
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputRole">سمت<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left"
                                                    title="فیلد سمت الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputRole" maxlength="50">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputwork_experience">سابقه کاری<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="فیلد سابقه کار الزامی می باشد."></i>
                                                <input type="text" class="form-control" id="inputwork_experience">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputpersonnel_id">شماره پرسنلی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="فیلد شماره پرسنلی الزامی می باشد."></i>
                                                <input type="text" class="form-control" id="inputpersonnel_id">
                                            </div>

                                            
                                            
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات دسترسی</h4>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputAddress">آدرس<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                    data-placement="left" title="فیلد آدرس اجباری میباشد."></i>
                                                <textarea name="address" class="form-control" id="inputAddress" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-row">

                                            <div class="form-group col-md-4">
                                                <label for="inputzip_code">کد پستی<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="کد پستی الزامی است و بایستی به صورت 10 کاراکتر عددی وارد گشته و معتبر باشد."></i>
                                                <input type="number" class="form-control" id="inputzip_code">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputnecessary_contact_number">شماره تماس ضروری</label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="فیلد شماره تماس ضروری بایستی شامل 11 کاراکتر عددی باشد (شامل پیش شماره شهر)."></i>
                                                <input type="number" class="form-control" id="inputnecessary_contact_number" placeholder="0343000000">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputmobile">شماره تلفن همراه<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="وارد کردن شماره تلفن همراه الزامی بوده و بایستی با 09 شروع شده و در قالب 11 کاراکتر عددی باشد."></i>
                                                <input type="number" class="form-control" id="inputmobile">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputworkplace_number">شماره محل کار</label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="فیلد شماره محل کار بایستی شامل 11 کاراکتر عددی باشد (شامل پیش شماره شهر)."></i>
                                                <input type="number" class="form-control" id="inputworkplace_number" placeholder="0343000000">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail">پست الکترونیکی</label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل به وارد نمودن این فیلد بایستی یک آدرس پست الکترونیکی معتبر را وارد نمائید."></i>
                                                <input type="email" class="form-control" id="inputEmail" placeholder="youremail@example.com">
                                            </div>
                                        </div>
                                        <br>
                                        
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row-form-group">
                                    <h4 class="row-form-group__title">اطلاعات پروفایل</h4>
                                    <br>
                                    <div class=" justify-content-between">
                                        <div class="form-group col-md-12">
                                            <label>عکس پروفایل</label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان پروفایل پرسنل انتخاب نمائید."></i>
                                            <!-- <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="انتخاب عکس پروفایل الزامی است و فایل انتخابی حتما بایستی فرمت عکس داشته باشد."></i> -->
                                            <!-- <input type="text" class="form-control" id="inputFileURL" disabled="disabled" placeholder="default.jpg" hidden> -->
                                            <div class="image-input-container position-relative">
                                                <label for="inputFile">
                                                    <img id="profile" class="cursor-pointer w-100 border-img" src="{% static 'images/default/default-profile.jpg' %}" alt="عکس پروفایل">
                                                    <input type="file" class="form-control-file" id="inputFile" onchange="readURL(this);" hidden>
                                                    <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group col-12 p-3">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputUsername">نام کاربری<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد نام کاربری الزامی است و حداکثر میتواند تا 50 کاراکتر طول داشته باشد."></i>
                                                <input type="text" class="form-control" id="inputUsername" maxlength="50">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputPassword">رمز عبور جدید<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="وارد کردن رمز عبور الزامی بوده و بایستی به فرمت بیان شده تکمیل گردد."></i>
                                                <input type="password" class="form-control" id="inputPassword" placeholder="رمز عبور" autocomplete="off">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputRepeatPassword">تکرار رمز عبور جدید<code>*</code></label>
                                                <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="وارد کردن تکرار رمز عبور الزامی بوده و بایستی با رمز عبور وارد شده تطابق داشته باشد."></i>
                                                <input type="password" class="form-control" id="inputRepeatPassword" placeholder="تکرار رمز عبور" autocomplete="off">
                                            </div>
                                          </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <br>
                                <div class="form-row row row-form-group">
                                    <h4 class="row-form-group__title">بارگذاری</h4>
                                    <br>

                                    <div class="form-group col-md-3">
                                        <label>عکس</label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان عکس پرسنلی انتخاب نمائید."></i>
                                        <!-- <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="انتخاب عکس پروفایل الزامی است و فایل انتخابی حتما بایستی فرمت عکس داشته باشد."></i> -->
                                        <!-- <input type="text" class="form-control" id="inputFileURL" disabled="disabled" placeholder="default.jpg" hidden> -->
                                        <div class="image-input-container position-relative">
                                            <label for="inputpicture">
                                                <img id="profile" class="cursor-pointer w-100 border-img" src="{% static 'images/default/default-upload.jpg' %}" alt="عکس">
                                                <input type="file" class="form-control-file" id="inputpicture" onchange="readURL(this);" hidden>
                                                <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>کارت شناسایی پرسنلی</label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان کارت شناسایی پرسنلی انتخاب نمائید."></i>
                                        <!-- <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="انتخاب عکس پروفایل الزامی است و فایل انتخابی حتما بایستی فرمت عکس داشته باشد."></i> -->
                                        <!-- <input type="text" class="form-control" id="inputFileURL" disabled="disabled" placeholder="default.jpg" hidden> -->
                                        <div class="image-input-container position-relative">
                                            <label for="inputpersonal_id_card">
                                                <img id="profile" class="cursor-pointer w-100 border-img" src="{% static 'images/default/default-upload.jpg' %}" alt="کارت شناسایی پرسنلی">
                                                <input type="file" class="form-control-file" id="inputpersonal_id_card" onchange="readURL(this);" hidden>
                                                <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>معرفی نامه دستگاه</label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان پروفایل پرسنل انتخاب نمائید."></i>
                                        <!-- <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="انتخاب عکس پروفایل الزامی است و فایل انتخابی حتما بایستی فرمت عکس داشته باشد."></i> -->
                                        <!-- <input type="text" class="form-control" id="inputFileURL" disabled="disabled" placeholder="default.jpg" hidden> -->
                                        <div class="image-input-container position-relative">
                                            <label for="inputdevice_introduction_letter">
                                                <img id="profile" class="cursor-pointer w-100 border-img" src="{% static 'images/default/default-upload.jpg' %}" alt="معرفی نامه دستکاه">
                                                <input type="file" class="form-control-file" id="inputdevice_introduction_letter" onchange="readURL(this);" hidden>
                                                <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>نمونه امضا</label>
                                        <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="در صورت تمایل میتوانید یک عکس به عنوان پروفایل پرسنل انتخاب نمائید."></i>
                                        <!-- <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="انتخاب نمونه امضا الزامی است و فایل انتخابی حتما بایستی فرمت عکس داشته باشد."></i> -->
                                        <!-- <input type="text" class="form-control" id="inputFileURL" disabled="disabled" placeholder="default.jpg" hidden> -->
                                        <div class="image-input-container position-relative">
                                            <label for="inputsample_signature">
                                                <img id="profile" class="cursor-pointer w-100 border-img" src="{% static 'images/default/default-upload.jpg' %}" alt="نمونه امضا">
                                                <input type="file" class="form-control-file" id="inputsample_signature" onchange="readURL(this);" hidden>
                                                <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                            </label>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                               
                                <br>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        
                                        <button id="submit" type="submit" class="btn btn-primary w-100">ثبت نام در سامانه</button>
                                        <br><br>
                                        <a href="{% url 'main:sign_page' %}"><button class="btn btn-primary w-100">ورود</button></a>
                                        <br><br>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    {% block footer %}
        {% include "parents/footer.html" %}
    {% endblock %}


    <script src="{% static "js/jalali-to-georgian.js" %}" type="text/javascript"></script>
    <script src="{% static "js/control-fields.js" %}" type="text/javascript"></script>
    <script src="{% static "js/base-information/personnel.js" %}" type="text/javascript"></script>

    <script>

        //#region Initialization Page
        kamaDatepicker('inputBirthDate', {
            nextButtonIcon: "https://www.jqueryscript.net/demo/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/timeir_next.png"
            , previousButtonIcon: "https://www.jqueryscript.net/demo/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/timeir_prev.png"
            , forceFarsiDigits: true
            , markToday: true
            , markHolidays: true
            , highlightSelectedDay: true
            , sync: true
        });

        $(".select2-ajax").select2({
            dir: "rtl",
            ajax: {
                method: 'POST',
                url: "{.% url 'master_data:ajax_search_in_companies' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                    search: params.term, // search term
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    
                    return {
                    results: data.data,
                    pagination: {
                        more: (params.page * 30) < data.total_count
                    }
                    };
                },
                cache: true
            },
            placeholder: 'جستجو...',
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });

        function formatRepo (repo) {
            if (repo.loading) {
            return repo.text;
            }

            var $container = $(
            "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'></div>" +
                "</div>" +
            "</div>"
            );

            $container.find(".select2-result-repository__title").text(repo.title + ' (' + repo.national_code + ')');

            return $container;
        }

        function formatRepoSelection (repo) {
            if (repo.id && repo.title && repo.national_code)
            {
            return repo.title + ' (' + repo.national_code + ')';
            }
            return repo.text;
        }
        //#endregion

        // $("#inputFile").on('change', function () {
        //     $("#inputFileURL").val($(this).val().replace(/^C:\\fakepath\\/, "")); 
        // })

        //#region Front Functions of Page
        var managementsStr = '{{Managements|safe}}';
        var managementsObj = JSON.parse(managementsStr);
        
        var jobTitlesStr = '{{JobTitles|safe}}';
        var jobTitlesObj = JSON.parse(jobTitlesStr);

        // var sectionsStr = '{{Sections|safe}}';
        // var sectionsObj = JSON.parse(sectionsStr);

        $("#inputRelevantDeputy").on("change", function () {
            $("#inputManagement").empty().append(new Option("انتخاب...", "0"));
            var deputyID = $(this).val();
            if (deputyID != '0')
            {
                for (var item of managementsObj)
                {
                    if (item.fk_deputy == deputyID)
                    {
                        $("#inputManagement").append(new Option(item.title, item.fk_deputy));
                    }
                }
                $("#inputManagement").prop('disabled', false);
            }
            else
            {
                $("#inputManagement").prop('disabled', true);
            }
        })


        $("#inputJobGroup").on("change", function () {
            $("#inputJob").empty().append(new Option("انتخاب...", "0"));
            var jobGroupID = $(this).val();
            if (jobGroupID != '0')
            {
                for (var item of jobTitlesObj)
                {
                    if (item.fk_jobgroup == jobGroupID)
                    {
                        $("#inputJob").append(new Option(item.title, item.fk_jobgroup));
                    }
                }
                $("#inputJob").prop('disabled', false);
            }
            else
            {
                $("#inputJob").prop('disabled', true);
            }
        })


        // $("#inputWorkstation").on("change", function () {
        //     $("#inputSection").empty().append(new Option("انتخاب...", "0"));
        //     var workstationID = $(this).val();
        //     if (workstationID != '0')
        //     {
        //         for (var item of sectionsObj)
        //         {
        //             if (item.fk_workstation == workstationID)
        //             {
        //                 $("#inputSection").append(new Option(item.title, item.fk_workstation));
        //             }
        //         }
        //         $("#inputSection").prop('disabled', false);
        //     }
        //     else
        //     {
        //         $("#inputSection").prop('disabled', true);
        //     }
        // })
        
        // var managementsStr = '{{Managements|safe}}';
        // var managementsObj = JSON.parse(managementsStr);

        // var jobTitlesStr = '{{JobTitles|safe}}';
        // var jobTitlesObj = JSON.parse(jobTitlesStr);
        // console.log(jobTitlesObj);

        // var sectionsStr = '{{Sections|safe}}';
        // var sectionsObj = JSON.parse(sectionsStr);

        // $("#inputJobGroup").on('select2:select', function (e){
        //     var data = e.params.data;

        //     var jobGroupID = parseInt(data.id);
        //     console.log(jobGroupID);
        //     for (var item of jobTitlesObj)
        //     {
        //         if (item['fk_jobgroup'] == jobGroupID)
        //         {
        //             var newOption = new Option(item.title, item.id, false, false);
        //             $('#inputJob').append(newOption);
        //         }
        //     }
        // })

        // $("#inputJobGroup").on("select2:unselect", function (e) {
        //     var data = e.params.data;

        //     var jobGroupID = parseInt(data.id);
        //     for (var item of jobTitlesObj)
        //     {
        //         if (item['fk_jobgroup'] == jobGroupID)
        //         {
        //             $("#inputJob option[value=" + item.id + "]").remove();
        //         }
        //     }
        // });


        // $("#inputRelevantDeputy").on('select2:select', function (e){
        //     var data = e.params.data;

        //     var deputyID = parseInt(data.id);
        //     for (var item of managementsObj)
        //     {
        //         if (item['fk_deputy'] == deputyID)
        //         {
        //             var newOption = new Option(item.title, item.id, false, false);
        //             $('#inputManagement').append(newOption);
        //         }
        //     }
        // })

        // $("#inputRelevantDeputy").on("select2:unselect", function (e) {
        //     var data = e.params.data;

        //     var deputyID = parseInt(data.id);
        //     for (var item of managementsObj)
        //     {
        //         if (item['fk_deputy'] == deputyID)
        //         {
        //             $("#inputManagement option[value=" + item.id + "]").remove();
        //         }
        //     }
        // });

        // $("#inputWorkstation").on('select2:select', function (e){
        //     var data = e.params.data;

        //     var workstationID = parseInt(data.id);
        //     for (var item of sectionsObj)
        //     {
        //         if (item['father_id'] == workstationID)
        //         {
        //             var newOption = new Option(item.title, item.id, false, false);
        //             $('#inputSection').append(newOption);
        //         }
        //     }
        // })

        // $("#inputWorkstation").on("select2:unselect", function (e) {
        //     var data = e.params.data;

        //     var workstationID = parseInt(data.id);
        //     for (var item of sectionsObj)
        //     {
        //         if (item['father_id'] == workstationID)
        //         {
        //             $("#inputSection option[value=" + item.id + "]").remove();
        //         }
        //     }
        // });
        //#endregion

        //#region Final Action
        $("#submit").click(function (e) {
            e.preventDefault();
            var checks = checkPersonnelFnc();
            if (checks) {
                $(".blur").addClass('active disable-form');
                $(".loading-fixed").show();
                formData = new FormData();
                var image = $("#inputFile")[0].files[0];
                var firstName = $("#inputFName").val();
                var lastName = $("#inputLName").val();
                var fatherName = $("#inputFatherName").val();
                console.log(fatherName);
                var nationalCode = $("#inputNationalCode").val();
                // var password = $("#inputPassword").val();
                // console.log(password);
                var birthCertificateNo = $("#inputBirthCertificateNo").val();
                var gender = $("#inputGender").val();
                var maritalStatus = $("#inputMaritalStatus").val();
                var birthPlace = $("#inputBirthPlace").val();
                var insuranceNumber = $("#inputInsuranceNumber").val();
                var degree = $("#inputDegree").val();
                var role = $("#inputRole").val();
                if ($("#inputNumberOfChildren").val().length != 0) {
                    var numberOfChildren = $("#inputNumberOfChildren").val();
                    formData.append('number_of_children', numberOfChildren);
                }
                var mobileNumber = $("#inputMobileNumber").val();
                // var email = $("#inputEmail").val();
                if ($("#inputLocalPhone").val().length != 0) {
                    var localPhone = $("#inputLocalPhone").val();
                    formData.append('telephone', phoneNumber);
                }
                // var accessGroup = $("#inputAccessGroup").val();
                var birthDate = customJalaliToGregorianFnc($("#inputBirthDate").val());
                // var relevantDeputy = $("#inputRelevantDeputy").val();
                var management = $("#inputManagement").val();
                var company = $("#inputCompany").val();
                var address = $("#inputAddress").val();
                // var cooprationType = $("#inputCooprationType").val();
                // var management = $("#inputManagement").val();
                var userStatus;
                if ($("#inputUserStatus").val() == '1') {
                    userStatus = true;
                }
                else {
                    userStatus = false;
                }
                
                var jobTitle = $("#inputJob").val();

                // var section = $("#inputSection").val();

                formData.append('profile', image);
                formData.append('first_name', firstName);
                formData.append('last_name', lastName);
                formData.append('father_s_name', fatherName);
                formData.append('national_code', nationalCode);
                // formData.append('password', password);
                formData.append('birth_certificate_id', birthCertificateNo);
                formData.append('gender', gender);
                formData.append('marital_status', maritalStatus);
                formData.append('birthplace', birthPlace);
                formData.append('insurance_number', insuranceNumber);
                formData.append('degree', degree);
                formData.append('organization_role', role);
                formData.append('mobile', mobileNumber);
                formData.append('birthday', birthDate);
                formData.append('management', management);
                // formData.append('email', email);
                // formData.append('access_group', groupUser);
                // formData.append('relevant_deputy', relevantDeputy);
                formData.append('company', company);
                formData.append('address', address);
                // formData.append('coopration_type', cooprationType);
                formData.append('active', JSON.stringify(userStatus));
                formData.append('job_title', jobTitle);
                // formData.append('section', section);
                formData.append('staff', JSON.stringify(false));
                formData.append('superuser', JSON.stringify(false));

                console.log(JSON.stringify(formData));
                var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

                var data = {'content': formData};
                // formData.forEach(function(value, key){
                //     data[key] = value;
                //     console.log(key, value);
                // });
                // var json = JSON.stringify(data);

                $.ajax(
                    {
                        method: 'POST',
                        url: '{.% url "master_data:api_personnel_create" %}',
                        headers: {
                            'content-type': 'application/json',
                            'X-CSRFToken': csrftoken
                        },
                        // scriptCharset: "utf-8" , 
                        // contentType: "application/json; charset=utf-8",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (json, status) {
                            console.log(json);
                            console.log(status);
                            if (status == 'success') {
                                $(".blur").removeClass('active');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                    scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message.success-message").show();
                                $(".alert-message.error-message").hide();
                                var redirectURL = '{% url "master_data:personnel_list_page" %}';
                                setTimeout(function () {
                                    location.replace(redirectURL);
                                }, 1500)
                            }
                            else {
                                $(".blur").removeClass('active disable-form');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                    scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message-text.error-text").html(json.error + ' ' + '(' + json.status + ')');
                                $(".alert-message.error-message").show();
                            }
                        },
                        error: function (json, status, xhr) {
                            console.log(json);
                            console.log(json.responseText);
                            console.log(status);
                            console.log(xhr);
                            $(".blur").removeClass('active disable-form');
                            $(".loading-fixed").hide();
                            $("html, body").animate({
                                scrollTop: $(".alert-section").offset().top - 20
                            }, 1000);
                            $(".alert-message-text.error-text").html(json.responseText + ' - ' + xhr + ' ' + '(' + status + ')');
                            $(".alert-message.error-message").show();
                        }
                    }
                )
            }
            else {
                $("html, body").animate({
                    scrollTop: $(".alert-section").offset().top - 20
                }, 1000);
            }
        })
        //#endregion

    </script>

</body>