{% load i18n static %}
{% load filters %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

<title>سامانه پروژه ها | مشاهده پروفایل </title>
</head>

<body>

    {% block header %}
        {% include "parents/header.html" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% block sidebar %}
                {% include "parents/sidebar.html" %}
            {% endblock %}

            <div class="col-9">
                <div class="row text-right">
                    <div class="col-12">
                        <h2 class="title_page">اطلاعات پرسنل</h2>
                        <br>
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <img class="w-100" src="{{BASE_URL}}/{{ThisUser.profile}}" alt="عکس پروفایل">
                            </div>
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <p class="title d-inline">نام: </p>
                                    <p class="value d-inline">{{ThisUser.first_name}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">نام خانوادگی: </p>
                                    <p class="value d-inline">{{ThisUser.last_name}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">نام پدر : </p>
                                    <p class="value d-inline">{{ThisUser.father_s_name}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">جنسیت : </p>
                                    <p class="value d-inline">{{ThisUser.gender}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">کد ملی : </p>
                                    <p class="value d-inline">{{ThisUser.national_code}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">شماره شناسنامه: </p>
                                    <p class="value d-inline">{{ThisUser.birth_certificate_id}}</p>
                                </div>
                                <div class="mb-3">
                                    <p class="title d-inline">تاریخ تولد: </p>
                                    <p class="value d-inline"></p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>اطلاعات تحصیلی</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">مدرک تحصیلی: </p>
                                <p class="value d-inline">{{ThisUser.father_s_name}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">رشته تحصیلی: </p>
                                <p class="value d-inline">{{ThisUser.birth_certificate_id}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">دانشگاه محل تحصیلی: </p>
                                <p class="value d-inline">{{ThisUser.birth_certificate_id}}</p>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>اطلاعات کاری</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">دستکاه اجرایی: </p>
                                <p class="value d-inline"></p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline"> سمت: </p>
                                <p class="value d-inline">{{ThisUser.birthplace}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline"> سابقه کاری: </p>
                                <p class="value d-inline">{{ThisUser.birthplace}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline"> شماره پرسنلی: </p>
                                <p class="value d-inline">{{ThisUser.birthplace}}</p>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>اطلاعات دسترسی</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="title d-inline">آدرس: </p>
                                <p class="value d-inline">{{ThisUser.address}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">کد پستی: </p>
                                <p class="value d-inline">{{ThisUser.marital_status}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره تماس ضروری: </p>
                                <p class="value d-inline">{{ThisUser.marital_status}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره تلفن همراه: </p>
                                <p class="value d-inline">{{ThisUser.marital_status}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">شماره محل کار: </p>
                                <p class="value d-inline">{{ThisUser.marital_status}}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="title d-inline">پست الکترونیکی: </p>
                                <p class="value d-inline">{{ThisUser.marital_status}}</p>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>اطلاعات پروفایل</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="title d-inline">نام کاربری: </p>
                                <p class="value d-inline">{{ThisUser.number_of_children}}</p>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <h4>بارگذاری ها</h4>
                        <br>
                        <div class="form-row">
                            <div class="col-md-3">
                                <p class="title d-inline">
                                    <a href="#">عکس</a>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="title d-inline">
                                    <a href="#">کارت شناسایی پرسنلی</a>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="title d-inline">
                                    <a href="#">معرفی نامه دستگاه</a>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="title d-inline">
                                    <a href="#">نمونه امضا</a>
                                </p>
                            </div>                   
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "parents/footer.html" %}
    {% endblock %}

    <script>
        var jobTitle = '{{ThisUser.job_title|safe}}';
        jobTitle = JSON.parse(jobTitle);
        var management = '{{ThisUser.management|safe}}';
        management = JSON.parse(management);

        $("#job-title").html(jobTitle.title);
        $("#management").html(management.title);
    </script>

</body>

</html>