{% load i18n static %}
{% csrf_token %}

{% block head %}
    {% include "parents/head.html" %}
{% endblock %}

<title>سامانه پروژه ها | ثبت  دستگاه اجرایی</title>
</head>

<body>

    <div class="loading-fixed d-hide">
        <img src="{% static "images/loading.svg" %}" alt="در حال بارگذاری...">
    </div>

    {% block header %}
        {% include "parents/header.html" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            {% block sidebar %}
                {% include "parents/sidebar.html" %}
            {% endblock %}

            <div class="col-9">
                <div class="row text-right">
                    <div class="col-12">
                        <div class="blur">
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <div class="b-light-gray">
                                        <span class="section-title section-1-title ml-3 gray active cursor-pointer">ثبت اطلاعات شرکت</span> <span class="gray ml-3"><i class="far fa-angle-left"></i></span> <span class="section-title section-2-title gray cursor-pointer">تعیین نماینده و مدیر عامل</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <h2 class="title_page">ثبت شرکت جدید</h2>
                            <div class="row">
                                <div class="col-12">
                                </div>
                            </div>
                            <div id="section-1">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert-section alert-section-1">
                                            <div class="alert-message error-message front error-section-1 text-right mb-3">
                                                <div class="alert-message-content error-content">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    <div class="alert-message-text error-text error-text-section-1">
                                                    </div>
                                                </div>
                                                <div class="close-message close-error-message">
                                                    <i class="fas fa-times"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    <div class="form-row justify-content-between">
                                        <div class="form-group col-md-4">
                                            <label>لوگو<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip" data-placement="left" title="انتخاب لوگو الزامی میباشد و اطمینان حاصل نمائید که فایل انتخابی حتما فرمت عکس داشته باشد."></i>
                                            <!-- <input type="text" class="form-control" id="inputLogoURL" disabled placeholder="default.jpg"> -->
                                            <div class="image-input-container">
                                                <label for="inputLogo">
                                                    <img class="cursor-pointer w-100 border-img" id="inputLogoImg" src="{% static 'images/default/default-logo.jpg' %}" alt="لوگو">
                                                    <input type="file" class="form-control-file" id="inputLogo" onchange="readURL(this);" hidden>
                                                    <div class="cursor-pointer edit-icon"><i class="fas fa-pencil"></i></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputTitle">عنوان شرکت<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="عنوان شرکت الزامی میباشد و بایستی در قالب حداکثر 255 کاراکتر وارد گردد."></i>
                                            <input type="text" class="form-control" id="inputTitle" maxlength="255">
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="inputType">نوع شرکت<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left" title="تعیین نوع شرکت الزامی میباشد"></i>
                                            <select id="inputType" class="form-control">
                                                <option value="real">حقیقی</option>
                                                <option value="legal">حقوقی</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="inputCooprationType">نوع همکاری<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left" title="انتخاب نوع همکاری الزامی میباشد."></i>
                                            <select id="inputCooprationType" class="form-control">
                                                <option value="employer">کارفرما</option>
                                                <option value="contractor">پیمانکار</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputParentCompany">شرکت مالک<span
                                                    class="parent-company necessary d-hide"><code>*</code></span></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="این فیلد در صورتی که نوع همکاری پیمانکار انتخاب شده باشد الزامی میباشد."></i>
                                            <select id="inputParentCompany" class="form-control select2-ajax" disabled>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputRegisterationNumber">شماره ثبت<span
                                                    class="registeration-number necessary d-hide"><code>*</code></span></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="این فیلد برای شرکت های حقوقی الزامی میباشد."></i>
                                            <input type="number" class="form-control" id="inputRegisterationNumber"
                                                maxlength="30" disabled>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="inputNationalCode">شماره ملی<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="کد ملی الزامی است و بایستی به صورت 11 کاراکتر عددی وارد گشته و معتبر باشد."></i>
                                            <input type="number" class="form-control" id="inputNationalCode" maxlength="11">
                                        </div>
                                    </div>
                                    
                                    <br>

                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputPhoneNumber">شماره ثابت</label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="شماره شخص جهت دسترسی و تماس تلفنی که بایستی با 0 شروع شده و شامل 11 رقم باشد."></i>
                                            <input type="number" class="form-control" id="inputPhoneNumber" maxlength="11"
                                                placeholder="مثال: 0343000000">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputMobileNumber-1">تلفن همراه 1</label>
                                            <code>*</code>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="وارد کردن تلفن همراه 1 الزامی بوده و بایستی با 09 شروع شده و در قالب 11 کاراکتر عددی باشد."></i>
                                            <input type="number" class="form-control" id="inputMobileNumber-1"
                                                maxlength="11">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputMobileNumber-2">تلفن همراه 2</label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="تلفن همراه 2 بایستی با 09 شروع شده و در قالب 11 کاراکتر عددی باشد."></i>
                                            <input type="number" class="form-control" id="inputMobileNumber-2"
                                                maxlength="11">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label for="inputAddress">آدرس<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left" title="فیلد آدرس الزامی میباشد."></i>
                                            <textarea class="form-control" id="inputAddress" rows="1"></textarea>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputZipCode">کد پستی<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد کد پستی الزامی میباشد و باید در قالب حداکثر 10 کاراکتر عددی وارد گردد."></i>
                                            <input type="number" class="form-control" id="inputZipCode" maxlength="10">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputEmail">آدرس الکترونیکی</label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد آدرس الکترونیکی الزامی میباشد و بایستی یک آدرس معتبر وارد گردد."></i>
                                            <input type="email" class="form-control" id="inputEmail"
                                                placeholder="test@gmail.com">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputSafetyCertificateNumber">شماره گواهینامه صلاحیت
                                                ایمنی<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد شماره گواهینامه صلاحیت ایمنی الزامی میباشد و بایستی تا حداکثر 30 کاراکتر را شامل شود."></i>
                                            <input type="number" class="form-control" id="inputSafetyCertificateNumber"
                                                maxlength="30">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputSafetyCertificateValidationDate">تاریخ اعتبار صلاحیت
                                                ایمنی<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد تاریخ اعتبار صلاحیت ایمنی الزامی میباشد. برای وارد کردن تاریخ از تقویم تعبیه شده در داخل فیلد استفاده نمائید."></i>
                                            <input type="text" class="form-control"
                                                id="inputSafetyCertificateValidationDate">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputSafetyCertificateFile">پیوست (نسخه صلاحیت
                                                ایمنی)<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="فیلد پیوست (نسخه صلاحیت ایمنی) الزامی میباشد."></i>
                                            <input type="file" class="form-control-file" id="inputSafetyCertificateFile">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <button id="continue" class="btn btn-primary float-left">ادامه <i class="far fa-angle-left"></i></button>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                </form>
                            </div>
                            <!-- <div id="section-2" class="d-hide"> -->
                            <div id="section-2">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert-section alert-section-2">
                                            <div class="alert-message error-message front error-section-2 text-right mb-3">
                                                <div class="alert-message-content error-content">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    <div class="alert-message-text error-text error-text-section-2">
                                                    </div>
                                                </div>
                                                <div class="close-message close-error-message">
                                                    <i class="fas fa-times"></i>
                                                </div>
                                            </div>
                                            <div class="alert-message success-message front text-right mb-3">
                                                <div class="alert-message-content success-content">
                                                    <i class="fas fa-check"></i>
                                                    <div class="alert-message-text success-text success-text-section-1">
                                                        شرکت جدید با موفقیت ثبت گردید.
                                                    </div>
                                                </div>
                                                <div class="close-message close-success-message">
                                                    <i class="fas fa-times"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    <div class="form-row align-items-end">
                                        <div class="form-group col-md-4">
                                            <label for="inputCeo">مدیر عامل<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="انتخاب مدیر عامل شرکت الزامی است."></i>
                                            <select class="form-control select2-ajax-user" id="inputCeo">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button data-for="ceo" class="btn btn-info add-user">افزودن کاربر <i class="far fa-plus"></i></button>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputRepresentative">نماینده شرکت<code>*</code></label>
                                            <i class="fal fa-info-circle tooltip-arrow" data-toggle="tooltip"
                                                data-placement="left"
                                                title="انتخاب نماینده شرکت الزامی میباشد و از لیست کارکنان شرکت بایستی انتخاب شود."></i>
                                            <select class="form-control select2-ajax-user" id="inputRepresentative">
                                                <option value="0">انتخاب...</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button data-for="representative" class="btn btn-info add-user">افزودن کاربر <i class="far fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="form-row align-items-end">
                                        <div class="form-group col-md-12">
                                            <button id="back" class="btn btn-primary float-right"><i class="far fa-angle-right"></i> برگشت</button>
                                            <button id="submit" class="btn btn-primary float-left">ثبت</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% block footer %}
        {% include "parents/footer.html" %}
    {% endblock %}

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              
          </div>
        </div>
      </div>

    <script src="{% static "js/jalali-to-georgian.js" %}" type="text/javascript"></script>
    <script src="{% static "js/control-fields.js" %}" type="text/javascript"></script>
    <script src="{% static "js/base-information/company.js" %}" type="text/javascript"></script>

    <script>
        //#region Preparing on Load
        kamaDatepicker('inputSafetyCertificateValidationDate', {
            nextButtonIcon: "https://www.jqueryscript.net/demo/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/timeir_next.png"
            , previousButtonIcon: "https://www.jqueryscript.net/demo/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/timeir_prev.png"
            , forceFarsiDigits: true
            , markToday: true
            , markHolidays: true
            , highlightSelectedDay: true
            , sync: true
        });

        $(".select2-ajax-user").select2({
            dir: "rtl",
            ajax: {
                method: 'POST',
                url: "{% url 'master_data:ajax_search_in_users' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term, // search term
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            width: '100%',
            placeholder: 'جستجو...',
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });

        function formatRepo(repo) {
            if (repo.loading) {
                return repo.text;
            }

            var $container = $(
                "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'></div>" +
                "</div>" +
                "</div>"
            );

            $container.find(".select2-result-repository__title").text(repo.first_name + ' ' + repo.last_name + ' (' + repo.national_code + ')');

            return $container;
        }

        function formatRepoSelection(repo) {
            if (repo.first_name && repo.last_name && repo.national_code) {
                return repo.first_name + ' ' + repo.last_name + ' (' + repo.national_code + ')';
            }
            return repo.text;
        }

        $(".select2-ajax").select2({
            dir: "rtl",
            ajax: {
                method: 'POST',
                url: "{.% .url 'master_data:ajax_search_in_companies' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term, // search term
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            width: '100%',
            placeholder: 'جستجو...',
            minimumInputLength: 1,
            templateResult: formatRepoCompany,
            templateSelection: formatRepoSelectionCompany
        });

        function formatRepoCompany(repo) {
            if (repo.loading) {
                return repo.text;
            }

            var $container = $(
                "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'></div>" +
                "</div>" +
                "</div>"
            );

            $container.find(".select2-result-repository__title").text(repo.title + ' (' + repo.national_code + ')');

            return $container;
        }

        function formatRepoSelectionCompany(repo) {
            if (repo.id && repo.title && repo.national_code) {
                return repo.title + ' (' + repo.national_code + ')';
            }
            return repo.text;
        }
        //#endregion

        // $("#inputLogo").on('change', function () {
        //     $("#inputLogoURL").val($(this).val().replace(/^C:\\fakepath\\/, "")); 
        // })

        $("#inputCompanyMembers").on('select2:select', function (e){
            var data = e.params.data;

            var memberID = parseInt(data.id);
            var newOption = new Option(data.first_name + ' ' + data.last_name + ' (' + data.national_code + ')', memberID, false, false);
            $('#inputRepresentative').append(newOption);
        })

        $("#inputCompanyMembers").on("select2:unselect", function (e) {
            var data = e.params.data;

            var memberID = parseInt(data.id);
            $("#inputRepresentative option[value=" + memberID + "]").remove();
        });

        var data = {};
        
        continueFnc = function () {
            var formData = new FormData();
            var checks = checkCompanySection1Fnc();
            if (checks) {
                var logo = $("#inputLogo")[0].files[0];
                var title = $("#inputTitle").val();
                var type = $("#inputType").val();
                var cooprationType = $("#inputCooprationType").val();
                if (cooprationType == 'contractor')
                {
                    var parentCompany = $("#inputParentCompany").val();
                    formData.append('fk_father_company', parentCompany);
                }
                if (type == 'legal')
                {
                    var registrationNumber = $("#inputRegisterationNumber").val();
                    formData.append('registration_number', registrationNumber);
                }
                var nationalCode = $("#inputNationalCode").val();
                // var companyMembers = $("#inputCompanyMembers").val();
                var phoneNumber = $("#inputPhoneNumber").val();
                var mobileNumber1 = $("#inputMobileNumber-1").val();
                var mobileNumber2 = $("#inputMobileNumber-2").val();
                var address = $("#inputAddress").val();
                var zipcode = $("#inputZipCode").val();
                var email = $("#inputEmail").val();
                if (email.length != 0)
                {
                    formData.append('email', email);
                }
                var safetyCertificateNumber = $("#inputSafetyCertificateNumber").val();
                var safetyCertificateValidationDate = customJalaliToGregorianFnc($("#inputSafetyCertificateValidationDate").val());
                var safetyCertificateFile = $("#inputSafetyCertificateFile")[0].files[0];

                formData.append('logo', logo);
                formData.append('title', title);
                formData.append('company_type', type);
                formData.append('cooperation_type', cooprationType);
                formData.append('national_code', nationalCode);
                formData.append('telephone_number', phoneNumber);
                formData.append('phone_number_1', mobileNumber1);
                formData.append('phone_number_2', mobileNumber2);
                formData.append('address', address);
                formData.append('post_id', zipcode);
                formData.append('safety_certificate_number', safetyCertificateNumber);
                formData.append('validity_date_of_safety_certificate', safetyCertificateValidationDate);
                formData.append('appendix_certificate', safetyCertificateFile);

                data.company = formData;

                $(".section-1-title").removeClass('active');
                $(".section-2-title").addClass('active');
                $("#section-1").hide();
                $("#section-2").show();
            }
            else {
                $("html, body").animate({
                    scrollTop: $(".alert-section.alert-section-1").offset().top - 20
                }, 1000);
            }
        }

        var userType;
        $(".add-user").click(function (e) {
            e.preventDefault();
            userType = $(this).attr('data-for');

        })

        $(".section-1-title").click(function () {
            $(".section-1-title").addClass('active');
            $(".section-2-title").removeClass('active');
            $("#section-1").show();
            $("#section-2").hide();
        })

        $(".section-2-title").click(function () {
            continueFnc();
        })
        
        $("#continue").click(function (e) {
            e.preventDefault();
            continueFnc();
        })

        $("#create-user").click(function (e) {
            e.preventDefault();

        })

        $("#submit").click(function (e) {
            e.preventDefault();
            var checks = checkCompanySection2Fnc();
            if (checks) {
                $(".blur").addClass('active disable-form');
                $(".loading-fixed").show();

                var data = {};
                var formData = new FormData();

                var ceo = $("#inputCeo").val();
                var representative = $("#inputRepresentative").val();

                // data.user = user;
                // data.user = 1;
                // data.logo = logo;
                // data.type = type;
                // data.title = title;
                // data.registration_number = registrationNumber;
                // data.national_code = nationalCode;
                // data.ceo = ceo;
                // data.contractor_representative = representative;
                // data.telephone_number = phoneNumber;
                // data.phone_number_1 = mobileNumber1;
                // data.phone_number_2 = mobileNumber2;
                // data.address = address;
                // data.post_id = zipcode;
                // data.email = email;
                // data.safety_certificate_number = safetyCertificateNumber;
                // data.validity_date_of_safety_certificate = safetyCertificateValidationDate;
                // data.appendix_certificate = safetyCertificateFile;

                // formData.append('fk_staffs', companyMembers);
                formData.append('fk_ceo', ceo);
                formData.append('contractor_representative', representative);

                // data.is_active = JSON.stringify(true);

                for (var pair of formData.entries()) { console.log(pair[0] + ', ' + pair[1]); };
                var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

                $.ajax(
                    {
                        method: 'POST',
                        url: '{.% url "master_data:ajax_company_create" %}',
                        headers: {
                            'content-type': 'application/json',
                            'X-CSRFToken': csrftoken
                        },
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (json, status) {
                            console.log(json);
                            console.log(status);
                            if (status == 'success') {
                                $(".blur").removeClass('active');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                    scrollTop: $(".alert-section").offset().top - 20
                                }, 1000);
                                $(".alert-message.success-message").show();
                                $(".alert-message.error-message").hide();
                                var redirectURL = '{.% url "master_data:company_list_page" %}';
                                setTimeout(function () {
                                    location.replace(redirectURL);
                                }, 1500)
                            }
                            else {
                                $(".blur").removeClass('active disable-form');
                                $(".loading-fixed").hide();
                                $("html, body").animate({
                                    scrollTop: $(".alert-section.alert-section-2").offset().top - 20
                                }, 1000);
                                $(".alert-message-text.error-text.error-text-section-2").html(json.error + ' ' + '(' + json.status + ')');
                                $(".alert-message.error-message.error-section-2").show();
                            }
                        },
                        error: function (json, status, xhr) {
                            console.log(json);
                            console.log(status);
                            console.log(xhr);
                            $(".blur").removeClass('active disable-form');
                            $(".loading-fixed").hide();
                            $("html, body").animate({
                                scrollTop: $(".alert-section.alert-section-2").offset().top - 20
                            }, 1000);
                            $(".alert-message-text.error-text.error-text-section-2").html(xhr + ' ' + '(' + status + ')');
                            $(".alert-message.error-message.error-section-2").show();
                        }
                    }
                )
            }
            else {
                $("html, body").animate({
                    scrollTop: $(".alert-section.alert-section-2").offset().top - 20
                }, 1000);
            }
        })

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#inputLogoImg')
                        .attr('src', e.target.result);
                    // .width(180)
                    // .height(180);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#inputCooprationType").change(function () {
            if ($(this).val() == 'contractor') {
                $("span.parent-company.necessary").show();
                $("select#inputParentCompany").prop('disabled', false);
            }
            else {
                $("span.parent-company.necessary").hide();
                $("select#inputParentCompany").prop('disabled', true);
            }
        })

        $("#inputType").change(function () {
            if ($(this).val() == 'legal') {
                $("span.registeration-number.necessary").show();
                $("input#inputRegisterationNumber").prop('disabled', false);
            }
            else {
                $("span.registeration-number.necessary").hide();
                $("input#inputRegisterationNumber").prop('disabled', true);
            }
        })
    </script>

</body>

</html>